$bg-issue-qty-color: #9ccf9f;
$bg-store-current-qty-color: #d7d4b5;
$bg-store-balance-qty-color: #7ba1c0;

h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

section {
  margin: 2rem;
  box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
}

th {
  font-size: 1rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

td {
  text-align: -webkit-center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #757575;

  input {
    min-width: 8rem !important;
  }

  select {
    min-width: max-content !important;
  }
}

.three-row-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;

  .inner-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline !important;
    margin-bottom: 1rem;

    label {
      margin: unset;
      font-size: 1rem;
      font-weight: 600;
    }

    p {
      font-size: 0.8rem;
      color: #6e6d6d;
      font-weight: 500;
    }
  }
}

.txt-area {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 80%;
  }
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.form-select {
  cursor: pointer;
  padding-right: 2rem;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;

  .search-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 2.5rem;
  min-width: 5rem;

  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .three-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}

.label-style {
  font-size: 1rem;
  margin: unset;
  flex: 0 0 150px;
  display: inline-block;
  align-items: baseline !important;
}

.three-row-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.input-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;

  label {
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  p {
    flex: 1;
    margin-left: 1rem;
  }

  input {
    margin-right: 0.5rem;
  }
}

.form-control {
  padding: 0.2rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 4px;
  max-width: 10rem;
  width: 100%;
  height: 1.5rem;
}

.data-value {
  margin-left: 1rem;
}

.main-heading {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

.sub-heading {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

.bg-issue-qty {
  background-color: $bg-issue-qty-color;
}

.bg-store-current-qty {
  background-color: $bg-store-current-qty-color;
}

.bg-store-balance-qty {
  background-color: $bg-store-balance-qty-color;
}
