:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item {
  color: white !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;

  ::ng-deep {
    .mat-list-item-content {
      background-color: #001a47;
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #263c70 !important;
      }
    }
  }
}

ul {
  margin-bottom: unset;
  color: white;
  background: #4472c4;
  padding-left: unset;
  font-size: 0.9rem;
  gap: 0.05rem;
  display: flex;
  flex-direction: column;
  list-style: none;

  li a {
    text-decoration: none;
    color: #abb9e8;
    font-size: 0.813rem;
    width: 100%;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 5px;
    display: flex;
    &:hover {
      // background: #ffffff;
      // color: #4472c4 !important;
      color: #ffffff;
    }
  }
  .active {
    // background-color: #001a47;
    color: #ffffff !important;
  }
}

::ng-deep.mat-drawer-inner-container {
  background-color: #4472c4;
}
