h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}
label {
  margin: unset;
  font-size: 1.1rem;
  font-weight: 600;
}
section {
  margin: 0.5rem;
  
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #9e9e9e;
}

.two-row-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;

  .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.5fr 2fr;
    padding: 0.5rem;
    align-items: baseline;

    label {
      margin: unset;
      font-size: 1.1rem;
      font-weight: 600;
      width: 235px;
    }

    .form-control {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 6px;
      margin-bottom: 1rem;
    }

    .form-select {
      cursor: pointer;
    }
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem !important;
  min-width: 3rem !important;
  font-size:medium;
  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.txt-area {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 60%;
  }
}

.data-sheet {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .two-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}
.inner-div label {
  width: 235px;
}


.color-div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: #dddddd;
}
.indicator-color-one {
  background-color: hsl(148, 69%, 27%);
}
.indicators-line {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;

  .indicators-line-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .indicators-line {
    flex-direction: column;
  }
}
.green-text {
  color: green; 
}
