<section>
  <form class="form">
    <div class="col-lg-6 mt-4" style="width: 100% !important; padding: 1rem">
      <div class="heading" style="background-color: #f0f0f0">
        <h1>Upload Invoice Approval</h1>
      </div>

      <div>
        <div class="three-row-grid mt-4">
          <div class="left-div">
            <div class="inner-div">
              <label>Invoice No</label>
              <p>INV1</p>
            </div>
            <div class="inner-div">
              <label>Remarks</label>
              <p>Ok</p>
            </div>
          </div>
          <div>
            <div class="inner-div">
              <label>Invoice Date</label>
              <p>06-08-2022</p>
            </div>
          </div>
          <div>
            <div class="inner-div">
              <label>Store</label>
              <p>KGF DIVISIONAL STORES</p>
            </div>
          </div>
        </div>
      </div>

      <div
        style="
          overflow: auto;
          width: 100%;
          border: 2px solid #c2c2c2;
          margin-top: 1rem;
        "
      >
        <table class="table table-bordered text-center">
          <thead style="background-color: #f2f2f2; color: #3e3e3e">
            <tr>
              <th scope="col">Stock Code</th>
              <th scope="col">Serial#</th>
              <th scope="col">PO No</th>
              <th scope="col">PO Data (DD-MM-YYYY)</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">METER_TYPE</th>
              <th scope="col">METER_MODEL</th>
              <th scope="col">METER_VERSION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>900013</td>
              <td>13120001</td>
              <td>HPL</td>
              <td>WC</td>
              <td>HR_IN</td>
              <td>1</td>
              <td>2</td>
              <td>1</td>
            </tr>
            <tr>
              <td>900013</td>
              <td>13120002</td>
              <td>HPL</td>
              <td>WC</td>
              <td>HR_IN</td>
              <td>1</td>
              <td>2</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="txt-area mt-4">
        <label style="width: fit-content">Remarks</label>
        <textarea class="form-control" cols="10" rows="5"></textarea>
      </div>

      <div class="btn-box mt-4">
        <button type="button" class="btn btn-primary btn-lg">Approval</button>
        <button type="button" class="btn btn-danger btn-md r-btn">
          Reject
        </button>
      </div>
    </div>
  </form>
</section>
