<section>
  <form [formGroup]="applicantTypeForm">
  <h1 mat-dialog-title>Update Applicant Type Master</h1>
  <div class="content-fields mt-4" mat-dialog-content>
    <div class="modal-input-control">
      <mat-form-field class="example-full-width">
        <mat-label>Applicant Type</mat-label>
        <input matInput placeholder="Ex. Conductor"
        formControlName="applicantTypeName" appAlphaNumeric [maxLength]="50" required/>
        <mat-error>Please enter in this field.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Applicant Code</mat-label>
        <input matInput placeholder="Ex. Conductor"
        formControlName="applicantTypeCode" appAlphaNumeric [maxLength]="20" required/>
        <mat-error>Please enter in this field.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button (click)="onApplicantUpdate()">Update</button>
    <button class="btn clor" mat-button mat-dialog-close>Close</button>
  </div>
  </form>
</section>