mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
  // height: 4.1rem;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}

// ::ng-deep .mat-toolbar-row {
//   padding: 0  !important;
// }

@media only screen and (max-width: 450px) {
  ::ng-deep .mat-toolbar-row {
    padding: unset !important;
  }

  // .user-name {
  //   display: none !important;
  // }
}
.user-name {
  display: block important;
}


.active {
  color: #ffffff;
  background-color: #001a47;
}
.db_img{
  margin-right: 0.5rem;
}
