<div class="container-fluid page-3">
  <ul>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/configuration">Configuration</a>
        </li>
        <li class="breadcrumb-item">
          <a style="color: lightslategray">Work Category Master</a>
        </li>
      </ol>
    </nav>
  </ul>

  <div class="page__content p-3 p20 shadow dis-fl dis-fl2  position-relative dis-flex-colu">
    <h2 class="title-2">Work Category Master </h2>

    <div style="display: flex; flex-wrap: wrap; overflow: auto">
      <div class="top-row first-top-row">
        <div class="input-control">
          <mat-form-field class="example-full-width">
            <mat-label>Search By Work Category Name</mat-label>
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Ex. Each" />
          </mat-form-field>
        </div>
        <div class="button-control">
          <button mat-button class="c-btn" (click)="openAddWorkCategoryMasterItemDialog()">
            Add Work Category
          </button>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="mt-4">
        <!-- SLNO Column -->
        <ng-container matColumnDef="slno">
          <th mat-header-cell *matHeaderCellDef>SL NO</th>
          <td mat-cell *matCellDef="let element">
            {{ dataSource.data.indexOf(element) + 1 }}
          </td>
        </ng-container>

        <!-- Work Category Name Column -->
        <ng-container matColumnDef="workCategoryName">
          <th mat-header-cell *matHeaderCellDef>Work Category Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.workCategoryName }}
          </td>
        </ng-container>

        <!-- Work Category Code Column -->
        <ng-container matColumnDef="workCategoryCode">
          <th mat-header-cell *matHeaderCellDef>Work Category Code</th>
          <td mat-cell *matCellDef="let element">
            {{ element.workCategoryCode }}
          </td>
        </ng-container>

        <!-- Work Category Type Column -->
        <ng-container matColumnDef="budgetType">
          <th mat-header-cell *matHeaderCellDef>Budget Type</th>
          <td mat-cell *matCellDef="let element">{{ element.budgetType }}</td>
        </ng-container>

        <!-- Budget Check Required Column -->
        <ng-container matColumnDef="budgetCheckFlag">
          <th mat-header-cell *matHeaderCellDef>Budget Check Required</th>
          <td mat-cell *matCellDef="let element">
            {{ element.budgetCheckFlag === 1 ? 'Yes' : 'No' }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button style="border: none; background-color: transparent" (click)="
              openUpdateWorkCategoryMasterItemDialog(element.workCategoryMasterId)">
              <mat-icon color="error">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>