.dialog-title {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: -30px;
    margin-bottom: -10px;
  }
  
  .close-button {
    background-color: transparent;
    border: 1px solid black;
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-icon {
    font-size:16px; 
  }
  ::ng-deep .mat-dialog-container {
    overflow: hidden !important;
  }
  
  ::ng-deep .mat-dialog-container .mat-dialog-content {
    max-height: none !important;
  }
  .button-container {
    margin-top: -14px;
    border-radius: 10%;
    justify-content: flex-end;
}

h1 {
  color: #222222;
  font-size: 25px;
  padding: 20px 0px 0px 0px;
  font-weight: 400;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}

.button-container button {
  border: none;
  outline: none;
  background-color: #DC3545;
  display: block;
  width: 60px;
  height: 30px;
  padding: 0px;
  border-radius: 8px;
}

iframe {
width: 100%;
height: 90%;
}
  