section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 91vh;
  }
  
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #dde9ff;
    border-right: 4px double #999999;
  }
  
  .col-estimates {
    color: #0043a5;
  }
  
  .col-eam {
    color: #088d9a;
  }
  
  .right-side {
    background-color: #4472c4;
  }
  
  .login-logo {
    display: none;
  }
  
  .login-box {
    position: absolute;
    top: 25%;
    left: 56.5%;
    background-color: #ffffff;
    width: 460px;
    height: auto;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
    border: 1px solid #ccc;
    input::placeholder {
      color: #b2b2b2;
    }
  
    h2 {
      font-weight: 600;
      font-size: 2.5rem;
      text-align: center;
      color: #3f3f3f;
      border: 0px;
    }
  
    .form-control {
      background-color: white;
      border: 2px solid #838383 !important;
      border-radius: 15px;
      padding: 0.375rem 0.75rem;
      font-size: 22px;
    }
  
    label {
      color: #3f3f3f;
      font-weight: 600;
      font-size: 1rem;
  
      span {
        color: #4472c4;
      }
    }
  }
  
  .link {
    text-decoration: none;
    color: #4472c4;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .form-check-input {
    background-color: #939393;
  
    &:focus {
      box-shadow: none;
    }
  }
  
  .btn-box {
    width: 100%;
    .btn {
      background-color: #4472c4;
      border-radius: 15px;
      color: white;
      font-weight: 400;
      font-size: 18px;
      width: inherit;
    }
  }
  
  p {
    color: #7e7e7e;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }
  
  .sso-message, .escoms-logo {
  display: none;
  }
  
  @media (max-width: 1050px) {
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4472c4;
    }
  
    .left-side {
      display: none;
    }
  
    .right-side {
      display: none;
    }
  
    .login-box {
      position: relative;
      top: unset;
      left: unset;
    }
  
    .login-logo {
      display: inline;
      float: left;
    }
  }
  
  @media (max-width: 600px) {
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c8d7e959;
    }
  
    .escoms-logo {
      display: block;
      max-width: 100%;
      align-items: center;
    }
  
    .sso-message {
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  
    .standalone-message {
      display: none;
    }
  
    .login-box {
      background-color: #ffffff;
      width: 460px;
      height: auto;
      border-radius: 0px;
      padding: 2rem;
      box-shadow: 0px 0px 0px rgb(0 0 0 / 21%);
      border: 2px solid #1023f7;
      input::placeholder {
        color: #b2b2b2;
      }
    
      h2 {
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        color: #3f3f3f;
        border: 0px;
      }
    
      .form-control {
        background-color: white;
        border: 2px solid #838383 !important;
        border-radius: 15px;
        padding: 0.375rem 0.75rem;
        font-size: 22px;
      }
    
      label {
        color: #3f3f3f;
        font-weight: 600;
        font-size: 1rem;
    
        span {
          color: #4472c4;
        }
      }
    }
  }
  
  
  
  .logo-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: #4472c4;
    border-radius: 50px;
  
    button {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: white;
  
      &:hover {
        background-color: rgb(79, 79, 226);
      }
    }
  
    img {
      width: 100%;
    }
  }
  
  .error-message {
    display: flex;
    justify-content: center;
    font-weight: 4000;
    font-size: 15px;
  }
  
  .password {
    position: relative;
    text-align: center;
  }
  
  .password .btn-link {
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;
    font-size: 20px;
  }
  
  .password .btn-link {
    color: gray;
  }
  
  .product-title {
    font-size: 32px;
    line-height: 45px;
    color: #5c5b5b;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 12px 50px;
    border: 0px;
  }
  
