h1 {
    color: #484848;
    font-weight: 600;
    margin: unset !important;
  
  }
  section {
    margin: unset;
    
  }
  
  .search-icon {
    position: absolute;
    left: 303px;
    top: -21px;
    color: black;
  }