<div class="page-1">
  <section>
    <ul>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/main">Dashboard</a></li>
          <li class="breadcrumb-item">
            <a routerLink (click)="navigate('Meter Change Details', '23')"
              >Meter Change</a
            >
          </li>
          <li class="breadcrumb-item">
            <a style="color: lightslategray">Meter Change Details</a>
          </li>
        </ol>
      </nav>
    </ul>
  </section>
  <section>
      <form class="form" [formGroup]="meterChangeDetailsReport">
        <div class="page__content shadow p-3 position-relative dis-flex-colu">
          <h2 class="title-2">Meter Change Details</h2>
          <div>
              <div class="two-column-grid">
                  <div class="left-column">
                    <div class="inner-div">
                      <label>Work Order No :</label>
                      <p>{{ data[0]?.workorderNo }}</p>
                    </div>
                  </div>
                  <div class="right-column">
                    <div class="inner-div">
                        <label>Work Description :</label>
                        <p>{{ data[0]?.workDescription }}</p>
                      </div>
              </div>     
              <div>
                <label style="margin-right:22px;">Download Meter Change Upload Sheet:</label>
                <a
                  href="javascript:void(0);"
                  style="color: #f7f8f9; text-decoration: none;"
                  (click)="downloadSampleFile()"
                  title="Download Meter Details Sheet"
                >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="#4472c4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download" style="vertical-align: middle;">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                  <polyline points="7 10 12 15 17 10"></polyline>
                  <line x1="12" y1="15" x2="12" y2="3"></line>
                </svg>
                </a>
              </div>
              <div>
                <label style="margin-right:20px;">Download Meter Data:</label>
                <a
                  href="javascript:void(0);"
                  style="color: #f7f8f9; text-decoration: none;"
                  (click)="downloadFile()"
                >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="#4472c4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download" style="vertical-align: middle;">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                  <polyline points="7 10 12 15 17 10"></polyline>
                  <line x1="12" y1="15" x2="12" y2="3"></line>
                </svg>
                </a>
              </div>
            </div>
            <div class="mt-4">
              <div class="right-column mr-2" [class.error]="meterChangeDetailsReport.get('file').invalid && meterChangeDetailsReport.get('file').touched && !fileSizeError">
                  <label>File <span class="star">*</span></label>
                  <input
                    class="btn btn-upload"
                    style="color: black;"
                    type="file"
                    id="actual-btn"
                    accept=".xlsx"
                    (change)="onFileChange($event)"
                    formControlName="file"
                    appFileSizeValidator="5"
                    required
                  />
                  <mat-error *ngIf="meterChangeDetailsReport.get('file').hasError('required') && meterChangeDetailsReport.get('file').touched && !fileSizeError">
                    Please select this field
                  </mat-error>
                  <mat-error *ngIf="fileSizeError">
                    File size must be up to 5MB.
                  </mat-error>
                  <button
                  class="btn btn-sm"
                  style="background-color: #4472c4; color: white;"
                  (click)="processFile()"
                >
                  Upload
                </button>
              </div>
            </div>
          </div>
          <div
          style="
            overflow: auto;
            width: 100%;
            border: 2px solid #c2c2c2;
            margin-top: 1rem;
          "
        >
          <table class="table table-bordered text-center">
            <thead style="background-color: #f2f2f2; color: #3e3e3e">
              <tr>
                <th rowspan="2"scope="col">S.No</th>
                <th rowspan="2"scope="col">Work Order No</th>
                <th rowspan="2"scope="col">Account ID</th>
                <th rowspan="2"scope="col">SP ID</th>
                <th rowspan="2"scope="col">Meter Replacement Date</th>
                <th class="main-heading bg-old-qty" colspan="3" scope="colgroup">Old Meter Data</th>
                <th  class="main-heading bg-new-qty" colspan="3" scope="colgroup">New Meter Data</th>
              </tr>
              <tr style="background-color: #f2f2f2;">
                  <th class="sub-heading bg-old-qty" scope="col">Meter ID</th>
                  <th class="sub-heading bg-old-qty" scope="col">Meter status</th>
                  <th class="sub-heading bg-old-qty"scope="col">KWH Reading</th>
                  <th class="sub-heading bg-new-qty"scope="col">Meter ID</th>
                  <th class="sub-heading bg-new-qty"scope="col">Intial Reading (KWH)</th>
                  <th class="sub-heading bg-new-qty" scope="col">Multiplication Factor</th>           
                </tr>
            </thead>
            <tbody *ngIf = "showTable">
              <tr *ngFor="let row of fileContent; let i = index">
                <td *ngFor="let column of row.slice(0, 11)">{{ column }}</td>
              </tr>
            </tbody>
            
          </table>
        </div>
          <!-- 26-11-2024 Checkbox for Checking BUlk Meters are completed or not-->
          <div class="checkbox-container mt-3">
            <label>
              <input type="checkbox" formControlName="isChecked"> Click on this checkbox only when All the Meters which are Estimated are Replaced
            </label>
          </div>
          <div class="btn-box mt-4 pb-4">
            <button
              [disabled] = "showButton"
              type="button"
              class="btn btn-primary btn-sm"
              (click)="openConfirmationpopupDialog()"
            >
              Submit
            </button>
            <button type="button" class="btn clor btn-primary btn-sm" (click)="navigate('Meter Change Details', '23')">Close</button>
          </div>
        </div>
      </form>
    </section>
  </div>