<section>
  <form class="form" [formGroup]="rateContractForm">
<h1 mat-dialog-title>Update Rate Contract Master</h1>
  <div class="two-row-fields">
  <div class="col-sm-6">
    Office Name <span class="star">*</span><br>
    <div class="card flex justify-content-center">
        <form [formGroup]="treeForm">
            <p-treeSelect class="md:w-20rem w-full"
            containerStyleClass="w-full"
            formControlName="selectedNodes"
            (onNodeSelect)="nodeSelect($event.node)"
            selectionMode="single"
            (onNodeUnselect)="nodeUnselect()"
            [(ngModel)]="selectedOfficeNode"
            [options]="nodes"
            [filter]="true"
            [scrollHeight]="'250px'"
        > </p-treeSelect>
        </form>
      </div>
  </div>
  </div>
  <div class="two-row-fields">
    <mat-form-field class="example-full-width">
    <mat-label>Vendor Master</mat-label>
    <mat-select formControlName="vendorId" required>
      <mat-option *ngFor="let main of vendorData" [value]="main.vendorId">
        {{ main.vendorOrganizationName }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rateContractForm.get('vendorId').invalid && rateContractForm.get('vendorId').touched">
      Please select in this field.</mat-error> 
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Rc Vendor Name</mat-label>
        <input matInput placeholder="Ex. Each" [(ngModel)]="getData.rcVendorName" formControlName="rcVendorName" required/>
        <mat-error>Please enter in this field.</mat-error>
      </mat-form-field>
  </div>
  <div class="two-row-fields">
      <mat-form-field class="example-full-width">
        <mat-label>Rc Code</mat-label>
        <input matInput placeholder="Ex. Each" [(ngModel)]="getData.rcCode" formControlName="rcCode" required/>
        <mat-error>Please enter in this field.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
      <mat-label>Rc Validity</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Rc Validity" [(ngModel)]="getData.rcValidity" formControlName="rcValidity" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Please select in this field.</mat-error>
    </mat-form-field>
  </div>
  <div class="two-row-fields">
    <mat-form-field class="example-full-width">
      <mat-label>Execution Method</mat-label>
      <mat-select [(ngModel)]='getData.executionMethod' formControlName="executionMethod" required>
        <mat-option value="Partial Turnkey">Partial Turnkey</mat-option>
        <mat-option value="Total Turnkey">Total Turnkey</mat-option>
        <mat-error *ngIf="rateContractForm.get('executionMethod').invalid && rateContractForm.get('executionMethod').touched">
          Please select in this field.</mat-error> 
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Rc WorkDescription</mat-label>
      <input matInput placeholder="Ex. Each" [(ngModel)]="getData.rcWorkDescription" formControlName="rcWorkDescription" required/>
      <mat-error>Please enter in this field.</mat-error>
    </mat-form-field>
  </div>
  <div class="modal-input-control">
    <mat-form-field class="example-full-width">
      <mat-label>Consignee</mat-label>
      <mat-select [(ngModel)]='getData.consignee' formControlName="consignee" required>
        <mat-option value="Store">Store</mat-option>
        <mat-option value="Site">Site</mat-option>
        <mat-error *ngIf="rateContractForm.get('consignee').invalid && rateContractForm.get('consignee').touched">
          Please select in this field.</mat-error> 
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Discom</mat-label>
      <mat-select formControlName="discom" required>
        <mat-option *ngFor="let main of DiscomData" [value]="main.discomCode">
          {{ main.discomName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="rateContractForm.get('discom').invalid && rateContractForm.get('discom').touched">
        Please select in this field.</mat-error> 
        </mat-form-field>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button (click)="onRateContractUpdate()" [disabled]="notificationRef">Update</button>
    <button class="btn clor" mat-button mat-dialog-close [disabled]="notificationRef">Close</button>
  </div>
</form>
</section>
