<div class="page__content p-3 p20 shadow dis-fl dis-fl2  position-relative dis-flex-colu">
  <div style="display: flex; flex-wrap: wrap; overflow: auto">
    <div>
      <h2 class="title-2">Field Complaints Resolution </h2>

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/revert-to-site-inspection">
             <img src="assets/icons/team.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-1) </strong>Revert To Site Inspection.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/power-sanction">
            <img src="assets/icons/line-ext.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-2) </strong>Line Extension To Without Line Extension (Vice Versa).</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/generate-procurement-letter">
            <img src="assets/icons/procurement.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-3) </strong>Generate Procurement Letter.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/account-mapping-to-meter-upload">
            <img src="assets/icons/electric-meter.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-4) </strong>Revert To Meter Upload From Account To Meter
            Mapping.</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/move-to-meter-upload">
            <img src="assets/icons/lxt-wt.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-5) </strong>Move To Meter Upload For Without Line Extension
            Cases.</a>
        </div>

        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/execution-method-change">
            <img src="assets/icons/execution-change.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-6) </strong>Work Execution Method Change To Self Execution.</a>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/change-dop-category">
            <img src="assets/icons/delegation.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-7) </strong>Change Dop Category From Self Excution Works To Service
            Connection.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/smr-estimation-change">
            <img src="assets/icons/volt-meter.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-8) </strong>Multiple meter estimate error in Single Meter
            Replacement validation.</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/change-approval-in-work-order-creation">
            <img src="assets/icons/designation.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-9) </strong>Change AETDO Instead Of AET (Vice
            Versa).</a>
        </div>

        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/line-ext-change">
            <img src="assets/icons/works.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-10) </strong>Revert To Work Execution (NC,MC,LE,LR).</a>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/payment-to-estimation-approval">
            <img src="assets/icons/payment-approval.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-11) </strong>Change Awaiting For Payment To Estimation
            Approval.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/work-improvement-to-estimate">
            <img src="assets/icons/improvement.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-12) </strong>Improvement Works Revert back to Estimate.</a>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/imw-revert-workexecution">
            <img src="assets/icons/production.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-13) </strong>Improvement work - Revert back to work execution.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/meterupload-to-servicemain">
            <img src="assets/icons/electric-meter.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-14) </strong>Revert back to Service main estimate from meter upload.</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/amm-to-meter">
            <img src="assets/icons/accounting.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-15) </strong>Error Code:(5003) Invalid Meter Component/FA Id(MTR-VLD) from CCB In Account Meter Mapping For Single New Connection.</a>
        </div> 
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/meter-replacement-validation">
            <img src="assets/icons/transmission-tower.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-16) </strong>Error Code:(5003) Invalid Meter Component/FA Id(MTR-VLD) from CCB In Meter REPLACEMENT For LE,LR,SMR.</a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/meter-mc">
            <img src="assets/icons/budget.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-17) </strong>To generate the meter file again for MC.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/meter-bmr">
            <img src="assets/icons/meeting.png" alt=""class="field-image"><strong style="white-space: nowrap;">(FR-18) </strong> To generate the meter file again for BMR.</a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/service-main-material">
            <img src="assets/icons/electric-meter.png" alt=""class="field-image"> <strong style="white-space: nowrap;">(FR-19) </strong>Add Service Main Material.</a>
        </div>

      </div> -->

      <!-- <div class="row">
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/revert-imw">
            <img src="assets/icons/working.png" alt=""class="field-image">Improvement work – after estimation approval and in any stage, revert back to estimate.</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
            routerLink="/field-resolution/smr-approval">
            <img src="assets/icons/speedometer.png" alt=""class="field-image">SMR – after estimation approval and in any stage.</a>
        </div>
      </div> -->


      <!-- <div class="row">
             <div class="col-md-6">
        <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
          routerLink="/field-resolution/meter-to-work-execution">
          <img src="assets/icons/payment-approval.png" alt=""class="field-image">Change meter upload to work execution.</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-md clor field-resolution-btn" routerLinkActive="active"
          routerLink="/field-resolution/smr-cancellation">
          <img src="assets/icons/browser.png" alt=""class="field-image">SMR case Cancellation</a>
      </div>

      </div> -->




    </div>
  </div>
</div>

