// .upload-section {
//     margin-top: 20px;
//     display: flex;
//     flex-direction: column;
// }

// .upload-box {
//     display: flex;
//     align-items: center;
//     gap: 10px;
// }

// input[type="file"] {
//     border: 1px solid #ccc;
//     padding: 6px;
//     border-radius: 5px;
// }

// .success-msg {
//     color: green;
//     margin-top: 5px;
// }

// .error-msg {
//     color: red;
//     margin-top: 5px;
// }