.box {
  border: 1px solid hwb(210 78% 20%);
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 2px;
  border-top-width: 35px;
  padding: 10px;
  background-color: #f3f7fa;
  position: relative;
  border-radius: 10px;
  background-clip: padding-box;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f7fa;
  margin-bottom: 0px;
}

.quantity {
  color: hwb(232 0% 94%);
  margin: 0;
}

.cross-button {
  padding: 0px;
  margin-right: -34px;
  border: none;
  background-color: none;
  cursor: pointer;
  position: absolute;
  top: -34px;
  right: 32px;
  z-index: 1;
}

.cross-icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.content {
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: none;
}

th {
  border-right: 1px solid #f3f7fa;
  border-top: 1px solid #e6eaf2;
  border-bottom: 1px solid #e6eaf2;
}

th:first-child {
  border-left: 1px solid #f3f7fa;
}

th:last-child {
  border-right: none;
}

tbody,
tr {
  border: none;
}

thead {
  background-color: hwb(210 78% 20%);
}

.box-right {
  padding-right: 10px;
}

.box-right:not(:last-child) {
  border-right: 1px solid #e6eaf2;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.clor {
  background-color: #3f51b5;
  color: white;
}
.mat-dialog-container {
  display: block;
  padding: -10px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
