<div class="container-fluid page-3">
    <ul>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/configuration">Configuration</a>
          </li>
          <li class="breadcrumb-item">
            <a style="color: lightslategray">Meter Type Master</a>
          </li>
        </ol>
      </nav>
    </ul>
    <div class="page__content p-3 p20 shadow dis-fl dis-fl2  position-relative dis-flex-colu">
      <h2 class="title-2">Meter Type Master </h2>
      <div style="display: flex; flex-wrap: wrap; overflow: auto">
        <div class="top-row">
          <div class="input-control">
            <mat-form-field class="example-full-width">
              <mat-label>Search Meter Type</mat-label>
              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Ex.Each"/>
            </mat-form-field>
          </div>
          <div class="button-control">
            <button mat-button class="c-btn" (click)="openAddMaterialTypeDialog()">
              Add Meter Type
            </button>
          </div>
        </div>
  
        <table mat-table [dataSource]="dataSource" class="mt-4">
          <!-- SLNO Column -->
          <ng-container matColumnDef="slno">
            <th mat-header-cell *matHeaderCellDef>SL NO</th>
           <td mat-cell *matCellDef="let element">
              {{ dataSource.data.indexOf(element) + 1 }}
            </td>
          </ng-container>
          
          <!-- Meter Type Column -->
          <ng-container matColumnDef="meterType">
            <th mat-header-cell *matHeaderCellDef>Meter Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.meterType }}
            </td>
          </ng-container>
  
          <!-- Material  Code Column -->
          <ng-container matColumnDef="materialCode">
            <th mat-header-cell *matHeaderCellDef>Material Code</th>
            <td mat-cell *matCellDef="let element">
              {{ element.materialCode }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button style="border: none; background-color: transparent"
                (click)="openUpdateMaterialTypeDialog(element)">
                <mat-icon color="error">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
  