<section>
  <form [formGroup]="materialTypeForm">
  <h1 mat-dialog-title>Update Material Type</h1>
  <div class="content-fields mt-4" mat-dialog-content>
    <div class="modal-input-control">
      <mat-form-field class="example-full-width">
        <mat-label>Material Type</mat-label>
        <input matInput placeholder="update material type neme" 
          required formControlName="materialTypeName" appAlphaNumeric [maxLength]="50"/> 
          <mat-error>Please enter this field.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Material Code</mat-label>
        <input matInput placeholder="update material type code"
        required formControlName="materialTypeCode"
        appAlphaNumeric [maxLength]="25"  />
          <mat-error>Please enter this field.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button (click)="onUpdate()">Update</button>
    <button class="c-btn clor" mat-button mat-dialog-close>Close</button>
  </div>
  </form>
</section>