<div class="heading-box">
  <div class="heading">
    <h3 mat-dialog-title>Select Work Order</h3>
    <button
      mat-button
      mat-dialog-close
      style="background-color: transparent; border: none"
    >
      <img src="assets/cross-icon.png" alt="Close" />
    </button>
  </div>
</div>

<div class="content mt-4" mat-dialog-content>
  <div class="mt-4" style="display: flex; flex-wrap: wrap; overflow: auto">
    <mat-form-field class="example-full-width">
      <mat-label>Search by Work Details </mat-label>
      <input matInput [(ngModel)]="searchValue" (input)="applyFilter($event.target.value)" placeholder="Ex.. Department">
    </mat-form-field>
    <!-- <table class="table text-center" style="width: 100%; flex-wrap: wrap; border: 1px solid #757575">
      <thead style="background-color: #f3f7fa">
        <tr>
          <th scope="col">Work Execution Method</th>
          <th scope="col">Work Order Date</th>
          <th scope="col">Work Order No</th>
          <th scope="col">Work Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody style="cursor: pointer">
        <tr *ngFor="let dataItem of data">
          <td>{{ dataItem.workExecutionMethod }}</td>
          <td>{{ dataItem.workorderDate }}</td>
          <td>{{ dataItem.workorderNo }}</td>
          <td>{{ dataItem.workDescription }}</td>
          <td>
            <button class="btn clor" (click)="onApply(dataItem.wmWorkorderRegisteredId)">
              Select
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <div class="responsive-table">
      <div class="table-header">
        <div>Work Execution Method</div>
        <div>Work Order Date</div>
        <div>Work Order No</div>
        <div>Work Description</div>
        <div>Action</div>
      </div>
    
      <div
        class="table-row"
        *ngFor="let dataItem of data"
        (click)="onApply(dataItem.wmWorkorderRegisteredId)"
      >
        <div class="row-item" data-label="Work Execution Method">
          {{ dataItem.workExecutionMethod }}
        </div>
    
        <div class="row-item" data-label="Work Order Date">
          {{ dataItem.workorderDate }}
        </div>
    
        <div class="row-item" data-label="Work Order No">
          {{ dataItem.workorderNo }}
        </div>
    
        <div class="row-item" data-label="Work Description">
          {{ dataItem.workDescription }}
        </div>
    
        <div class="row-item action-btn">
          <button class="btn clor">Select</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
