.heading {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.work-order table {
    border-collapse: collapse;
    width: 100%;
}

.work-order td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.work-order th {
    border: 1px solid #dddddd;
    padding: 7px;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4472c4;
}

 
 section {
   margin: 1rem;
   box-shadow: 0px 10px 30px rgb(0 0 0 / 21%);
   background-color: #f5f5f5;
   border-radius: 8px;
 }
 
 .two-row-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 4rem;
 
   .inner-div {
     display: grid;
     //gap: 1rem;
     grid-template-columns: repeat(2, 1fr);
     align-items: baseline;
 
     label {
       margin: unset;
       font-size: 1rem;
       font-weight: 300;
     }
     
     .form-control {
       padding: 0.5rem;
       border: 1px solid #939393;
       background-color: #f5f5f5;
       border-radius: 6px;
       margin-bottom: 1rem;
     }
 
     .form-select {
       cursor: pointer;
     }
   }
 }
 