.box {
  margin-top: 25px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 2px;
  border-top-width: 40px;
  padding: 16px;
  position: relative;
  border-radius: 10px;
  background-clip: padding-box;
  outline: 1px solid lightblue;
  outline-offset: -2px;
}

.quantity {
  color: hwb(232 0% 94%);
  margin: 0;
  margin-top: 20px;
  margin-left: -10px;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0px;
  margin: -55px 0 16px;
}

.cross-button {
  padding: 0;
  border: none;
  cursor: pointer;
  min-width: 25px;
}

.cross-icon {
  width: 20px;
  height: 20px;
}

.content {
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc; 
  padding: 8px;
}

th {
  background-color: #f3f7fa; 
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding:5px 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -30px;
}

.clor {
  background-color: #4472c4;
  color: white;

}

.mat-dialog-container {
  display: block;
  padding: -10px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.structre {
  padding: 8px;
  margin-top: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin-top: -20px;
  font-weight: 200;
  margin-left: 15px;
  margin-bottom: -10px;
}
.col-b{
  flex: 1;
  margin-left: -42px;
  margin-top: -20px;
  margin-bottom: -30px;
}
.align-right {
  text-align: left;
}

.total-quantity {
  margin: 0;
}

.total-quantity span {
  font-weight: bold;
}
#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0px;
  margin: -55px 0 16px;
}

