section {
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
  }
  
  h1 {
    color: #484848;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  table {
    width: 100%;
    overflow: auto;
    min-width: 30rem;
  
    th {
      color: #4472c4;
    }
  
    th,
    td {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .first-top-row {
    justify-content: unset !important;
    gap: 2rem;
  }
  
  ::ng-deep .mat-form-field {
    width: 100% !important;
    font-size: 1rem !important;
  }
  
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }
  
  @media only screen and (max-width: 1000px) {
    section {
      margin: unset;
    }
  
    ::ng-deep .mat-form-field {
      width: 100% !important;
    }
  
    .first-top-row {
      gap: unset;
    }
  }
  