section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
button {
  font-size: 1rem;
  font-weight: 600;
  font-family: cursive;
}

button {
  background-color: black;
  color: white;

  &:hover {
    background-color: whitesmoke;
    color: black;
    transition: 1s;
  }
}
