<section class="mt-2">
  <ul>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/main/dashboard">Dashboard </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink (click)="navigate()">Awaiting for Payments</a>
        </li>
        <li class="breadcrumb-item">
          <a style="color: lightslategray">Awaiting for Payment</a>
        </li>
      </ol>
    </nav>
  </ul>
</section>
<p>awaiting-payment works!</p>
