.heading {
  text-align: center;
  // padding: 20px;
  font-weight: bold;
  // text-decoration: underline;
}

.work-order table {
  border-collapse: collapse;
  width: 100%;
}

.work-order td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.work-order th {
  border: 1px solid #dddddd;
  padding: 7px;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

section {
  margin: 1rem;
  box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  .inner-div {
    display: grid;
    //gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;

    label {
      margin: unset;
      font-size: 1rem;
      font-weight: 300;
    }

    .form-control {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 6px;
      margin-bottom: 1rem;
    }

    .form-select {
      cursor: pointer;
    }
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem;
  min-width: 3rem;

  &:hover {
    background-color: #7f9cce;
  }
}

.color {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.txt-area {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 80%;
  }
}

.data-sheet {
  display: flex;
  flex-direction: column;
  //gap: 1rem;

  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .two-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 1rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }

  .btn-box {
    flex-direction: column;
    gap: 1rem;
  }
}
.left-align {
  text-align: left;
  margin-left: 0;
}

h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

section {
  margin: 2rem;
  box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  .inner-div {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;

    label {
      margin: unset;
      font-size: 0.8rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem;
      border-radius: 10px;
      line-height: 1.5;
    }
  }
}

.single-row-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.sm {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.02%;
  color: #5f5f5f;
}

.radio-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radio-button {
  display: flex;
  justify-content: flex-end !important;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 2.5rem;
  min-width: 5rem;

  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.data-sheet {
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1000px) {
  .cd-container {
    .cd-content {
      flex-direction: row;
      align-items: unset;

      h3 {
        width: 100%;
      }
    }
  }
  section {
    margin: 1rem;
  }

  .two-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}

@import "../../../../app/dashboard-forms/dashboard-forms.component.scss";

.typicalCostForm {
  div {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    flex-wrap: wrap;

    input {
      width: unset !important;
    }

    label {
      width: 30% !important;
    }

    button {
      border: unset;
      background-color: unset;
    }
  }

  .percentDiv {
    .percentInput {
      width: 6rem !important;
    }
    .percentInputLabel {
      width: 20% !important;
    }
  }
}

.table {
  button {
    border: unset;
    background-color: unset;
  }

  input {
    width: 100% !important;
  }
}

.scopeOfWork {
  display: flex;
  gap: 1rem;
  align-items: end;

  div {
    select,
    label {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .typicalCostForm {
    .disp-flex {
      flex-direction: row !important;
      gap: 0.5rem;
    }

    div {
      label {
        width: unset !important;
      }
    }

    .percentDiv {
      .percentInputLabel {
        width: 40% !important;
        font-size: 0.8rem;
      }
    }
  }

  .table {
    input {
      width: 6rem !important;
    }
  }

  .scopeOfWork {
    flex-direction: column;
    align-items: unset;
  }

  .navigation{
    padding-left: 250px;
   }
}

@media only screen and (max-width: 600px) {
  .navigation{
    padding-left: 1px;
   }

   .overflow-x-scroll {
    overflow-x: scroll !important;
   }

   .justify-content-center {
    justify-content: normal !important;
   }

}

.tr-text {
  // font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3e3e3e;
  padding: 0.8rem 0;
}

// for adding scroll in mat select options and for multi select selected options

::ng-deep .mat-option-text {
  text-overflow: unset !important;
  overflow: auto !important;
}

::ng-deep .mat-select-value {
  text-overflow: unset !important;
  overflow: auto !important;
}

td {
  max-width: 200px;
  white-space: nowrap;
  overflow: auto;
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: inline-block;
  width: 50%;
  line-height: 1;
  font-size: 0.9rem;
}

.font-control {
  min-height: 35px !important;
  text-transform: lowercase;
}

.font-control::first-letter {
  text-transform: uppercase !important;
}

.pending {
  color: blue;
}

.completed {
  color: green;
}
.closed {
  color: green;
}

.rejected {
  color: crimson;
}

.navigation{
 padding-left: 250px;
}
.cd-content label {
  white-space: nowrap;
  margin-right: 2rem; 
  flex: 0 0 auto;
}
.cd-content p {
  margin-bottom: 1rem;
}
.cd-content {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
// .cd-container {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 16px; /* Adds space between each item */
// }
