<section>
  <form class="form">
    <div class="col-lg-6 mt-4" style="width: 100% !important; padding: 1rem">
      <div class="heading" style="background-color: #f0f0f0">
        <h1>Create New Work Award Request</h1>
      </div>

      <div class="two-row-grid mt-4">
        <div class="left-div">
          <div class="inner-div">
            <label>File Name</label>
            <select class="form-control form-select">
              <option>-- select --</option>
              <option>One</option>
              <option>Two</option>
            </select>
          </div>
          <div class="inner-div">
            <label>License No</label>
            <p>-</p>
          </div>
          <div class="inner-div">
            <label>Pan Card No:</label>
            <p>-</p>
          </div>
          <div class="inner-div">
            <label>Work Order No.</label>
            <input class="form-control" type="text" placeholder="Work Order No"/>
          </div>

  
        </div>
        <div>
          <div class="inner-div">
            <label>Contractor Name</label>
           <p>-</p>
          </div>
          <div class="inner-div">
            <label>License End Date</label>
           <p>-</p>
          </div>
          <div class="inner-div">
            <label>Contact No.</label>
           <p>-</p>
          </div>
      
        </div>
      </div>
    </div>

    <!-- LT-Part A -Extension of LT line  -->
    <div
    style="
      overflow: auto;
      width: 100%;
      /* border: 2px solid #c2c2c2; */
      margin-top: 1rem;
      padding: 1rem;
    "
  >
    <table class="table table-bordered text-center">
      <thead style="background-color: #f2f2f2; color: #3e3e3e">
        <tr>

       
          <th scope="col">#SMO</th>
          <th scope="col">Work Order No.</th>
          <th scope="col">Work Order Date</th>
          <th scope="col">Schedule Start Date</th>
          <th scope="col">Schedule End Date</th>
          <th scope="col">Estimation Cost</th>
        </tr>
      </thead>
      <tbody>
      </tbody>

    </table>
    <div style="display: flex; justify-content: center; align-items: center ; padding: 1rem;">
      <label>Total Estimation Cost:</label>
            </div>
  </div>




    <!-- button box -->

    <div class="btn-box mt-4 pb-4">
      <button type="button" class="btn  btn-primary btn-md">Save</button>
      <button type="button" class="btn clor btn-primary btn-md">Close</button>
    </div>
  </form>
</section>
