:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    //  width: 260px;
    width: 100%;
    background: #0f172a;
  }
  mat-drawer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  mat-drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  app-footer {
    margin-top: auto;
  }