h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

section {
  margin: 0.5rem;
  
}

th {
  font-size: 1rem;
  background-color: #f0f6ff;
}

td {
  text-align: -webkit-center;
  vertical-align: middle;
  font-size: 0.8rem;
  color: #757575;

  input {
    min-width: 8rem !important;
    height: 2rem !important;
  }

  select {
    min-width: max-content !important;
  }
}

.one-row-grid {
  grid-template-columns: 1fr;
  .inner-div {
    grid-template-columns: 0.3fr 1fr !important;
  }
}

.two-row-grid {
  grid-template-columns: repeat(2, 1fr);
}

.three-row-grid {
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: grid;
  column-gap: 4rem;

  .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-bottom: 1rem;

    label {
      margin: unset;
      font-size: 0.9rem;
      
    }

    p {
      font-size: 0.9rem;
      color: #6e6d6d;
      
    }

    .form-control,
    .form-select {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 6px;
    }

    .form-select {
      cursor: pointer;
    }
  }
}

.form-check label {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #3e3e3e;
  cursor: pointer;
}

.indicators-line {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;

  .indicators-line-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.color-div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
}

.indicator-color-one {
  background-color: #1a884d;
}

.indicator-color-two {
  background-color: #ff3100;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem !important;
  min-width: 3rem !important;
  font-size:medium;
  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.txt-area {
  display: flex;
  gap: 3rem;
  font-size: 0.9rem;
  

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 70%;
  }
}

.data-sheet {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 0.8rem;
  
  }
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;

  .search-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .grid {
    grid-template-columns: 1fr !important;

    .inner-div {
      grid-template-columns: 1fr !important;
      gap: 0.5rem;

      label,
      input,
      select,
      p {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}

span {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3e3e3e;
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .three-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.5rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}
label {
  margin: unset;
  // font-size: 1.1rem;
}
.placeholder-text {
  color: hsl(0, 89%, 52%)
}
.mandatory-indicator {
  color: red; 
  margin-left: 5px; 
  font-size: 1.2em;
}
.star{
  color: red;
 }