h1 {
    color: #484848;
    font-weight: 600;
    margin: unset !important;
  }
  
  section {
    margin: 0.5rem;
  
  }
  
  th {
    font-size: 1rem;
    font-weight: 600;
    background-color: #f0f6ff;
  }
  
  td {
    text-align: -webkit-center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #757575;
    input {
      min-width: 8rem !important;
    }
  
    select {
      min-width: max-content !important;
    }
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 6px;
  }
  .form-select {
    cursor: pointer;
  }
  .btn-upload {
    border: 2px dashed #c2c2c2 !important;
    background-color: rgb(248, 243, 243) !important;
    padding: 1rem;
    margin-right: 0px;
    &:hover {
      border: 2px solid #c2c2c2 !important;
      transition: 1s;
    }
  }
  .txt-area {
    display: flex;
    gap: 0rem;
    font-size: 0.9rem;
    textarea {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 5px;
      width: 100%;
    }
  }
  .btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .btn {
    padding: 0.4rem 1rem;
    background-color: #4472c4;
    color: white;
    min-height: 1.5rem !important;
    min-width: 3rem !important;
    
    &:hover {
      background-color: #7f9cce;
    }
  }
  .clor {
    background-color: white;
    color: #4472c4;
    border: 2px solid #4472c4;
  
    &:hover {
      background-color: #d8d7d7;
      color: #4472c4;
    }
  }
  @media only screen and (max-width: 1000px) {
    section {
      margin: 1rem;
    }
    .two-row-grid {
      grid-template-columns: 1fr;
  
      .inner-div {
        grid-template-columns: 1fr;
      }
    }
    .txt-area {
      flex-direction: column;
  
      textarea {
        width: 100% !important;
      }
    }
  }
  
  .two-column-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    column-gap: 1rem;
  }
  
  .left-column {
    gap: 1rem;

  }
  
  .left-column .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    margin-bottom: 1rem;
    margin-top: -20px;
  }
  
  .left-column label {
    margin: unset;
    font-size: 0.9rem;
    margin-top: -1rem;
  }
  .right-column {
    margin-right: 1rem;
    margin-left: -150px;
  }
  
  .right-column .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.2fr 3fr;
    align-items: baseline;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-left: -30px;
    margin-right: 20px;

  }

  .two-column-grid input {
    width: 100%;
  }
  
  
  .right-column label {
    margin: unset;
    font-size: 1rem;
  }
  
  .right-column {
  
    margin-right: 0rem;
  
    .inner-div {
      display: grid;
      gap: 1rem;
      grid-template-columns: 0.2fr 3fr;
      align-items: baseline;
      margin-bottom: 1rem;

      label {
        
        font-size: 1rem;
      }
    }
  
  }
  .download-link {
    color: #028f3a; 
    font-size: 0.8rem; 
    font-weight: 400; 
    text-decoration: none;
    padding-left: 10rem;
   }
   .download-p{
    color: #028f3a; 
    font-size: 0.8rem; 
    font-weight: 400;
    padding-top: -6rem;
    margin-top: -0.8rem;
   }
   .store-head{
    margin-top: 1rem; 
    padding: 0.5rem
   }
   .heading{
    background-color: #f0f0f0;
   }


   .label-container {
    width: 170px;
    padding: 5px;
   }

   .input-container {
    width: 82%;
   }

   .input-container input {
    width: 100%;
   }