$bg-issue-qty-color: #9ccf9f;
$bg-store-current-qty-color: #d7d4b5;
$bg-store-balance-qty-color: #7ba1c0;
h1 {
    color: #484848;
    font-weight: 600;
    margin: unset !important;
  }
  
  section {
    margin: 0.5rem;
  
  }
  
  th {
    font-size: 0.8rem;
    font-weight:600;
    background-color: #f0f6ff;
  }
  
  td {
    text-align: -webkit-center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #757575;
    input {
      min-width: 8rem !important;
    }
  
    select {
      min-width: max-content !important;
    }
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 6px;
  }
  .form-select {
    cursor: pointer;
  }
  

.main-heading, .sub-heading {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #f0f6ff;
  }
  
  .bg-old-qty {
    background-color: $bg-issue-qty-color;
  }
  
  .bg-new-qty {
    background-color: $bg-store-current-qty-color;
  }
    
  @media only screen and (max-width: 1000px) {
    section {
      margin: 1rem;
    }
    .two-row-grid {
      grid-template-columns: 1fr;
  
      .inner-div {
        grid-template-columns: 1fr;
      }
    }
    .txt-area {
      flex-direction: column;
  
      textarea {
        width: 100% !important;
      }
    }
  }
  
  .two-column-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    column-gap: 1rem;
  }
  
  .left-column {
    margin-right: 1rem;
    gap: 1rem;
  }
  
  .left-column .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    margin-bottom: 1rem;
    margin-top: 10px;
  }
  
  .left-column label {
    margin: unset;
    font-size: 0.9rem;
    margin-top: -1rem;
  }
  .right-column {
    margin-right: 1rem;
  }
  
  .right-column .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.2fr 3fr;
    align-items: baseline;
    margin-bottom: 1rem;
    white-space: nowrap;
  }
  
  
  .right-column label {
    margin: unset;
    font-size: 0.9rem;
  }
  
  .right-column {
  
    margin-right: 6rem;
  
    .inner-div {
      display: grid;
      gap: 1rem;
      grid-template-columns: 0.2fr 3fr;
      align-items: baseline;
      margin-bottom: 1rem;
  
      label {
        
        font-size: 0.9rem;
      }
    }
  
  }
   #actual-btn{
    margin-left: 140px !important;
    background-color: white;
   }