h1 {
    color: #484848;
    font-weight: 600;
    margin: unset !important;
  }
  
  section {
    margin: 0.5rem;
    
  }
  
  th {
    font-size: 1rem;
    font-weight: 600;
    background-color: #f0f6ff;
    vertical-align: middle;
  }
  
  td {
    text-align: -webkit-center;
    vertical-align: middle;
    font-size: 0.8rem;
    font-weight: 600;
    color: #757575;
  
    input {
      min-width: 1rem !important;
    }
  
    select {
      min-width: max-content !important;
    }
  }
  
  .form-check label {
    font-size: 1rem !important;
    font-weight: 600 !important;
    cursor: pointer;
  }
  #checkbox{
    width: 1rem !important;
    height: 1rem !important;
    min-width: unset !important;
    margin-left: 40px;
  }
  .txt-area {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
  
    textarea {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 5px;
      width: 80%;
    }
  }
  
  .button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .button {
    padding: 0.4rem 1rem;
    background-color: #4472c4;
    color: white;
    min-height: 1.5rem;
    min-width: 3rem;
  
    &:hover {
      background-color: #7f9cce;
    }
  }
  
  .clor {
    background-color: white;
    color: #4472c4;
    border: 2px solid #4472c4;
  
    &:hover {
      background-color: #d8d7d7;
      color: #4472c4;
    }
  }
  .radio-buttons{
    display: flex; 
    justify-content: center;
  }
  @media only screen and (max-width: 1000px) {
    section {
      margin: 1rem;
    }
  
    .txt-area {
      flex-direction: column;
  
      textarea {
        width: 100% !important;
      }
    }
  }
  .snackbar-success {
    background-color: #4caf50;
    color: white;
  }
  .disable-pointer-events {
    pointer-events: none;
  }
  .checkbox-styled {
    width: 1rem !important;
    height: 1rem !important;
    min-width: unset !important;
    margin-left: 40px;
  }
  
  .p-table-full-width {
    width: 100% !important;
  }
  
  .p-datatable table {
    font-size: 13px !important;
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 6px !important;
    font-size: 13px !important;
  }
  
  .p-btns {
      border-radius: 7px;
      outline: none;
      border: 2px solid #f8fff7;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    
    :host ::ng-deep {
      .p-paginator {
        .p-paginator-current {
          margin-left: auto;
        }
      }
    
      .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
          background-color: #607D8B;
        }
      }
    
      .table-header {
        display: flex;
        justify-content: space-between;
      }
    
      .p-calendar .p-datepicker {
        min-width: 25rem;
    
        td {
          font-weight: 400;
        }
      }
    
      .p-datatable.p-datatable-customers {
        .p-datatable-header {
          padding: 1rem;
          text-align: left;
          font-size: 1.5rem;
        }
    
        .p-paginator {
          padding: 1rem;
        }
    
        .p-datatable-thead>tr>th {
          text-align: left;
        }
    
        .p-datatable-tbody>tr>td {
          cursor: auto;
        }
    
        .p-dropdown-label:not(.p-placeholder) {
          text-transform: uppercase;
        }
      }
  
      /* Responsive */
      .p-datatable-customers .p-datatable-tbody>tr>td .p-column-title {
        display: none;
      }
    }
    
    @media screen and (max-width: 960px) {
      :host ::ng-deep {
        .p-datatable {
          &.p-datatable-customers {
    
            .p-datatable-thead>tr>th,
            .p-datatable-tfoot>tr>td {
              display: none !important;
            }
    
            .p-datatable-tbody>tr {
              border-bottom: 1px solid var(--layer-2);
    
              >td {
                text-align: left;
                display: block;
                border: 0 none !important;
                width: 100% !important;
                float: left;
                clear: left;
                border: 0 none;
    
                .p-column-title {
                  padding: .4rem;
                  min-width: 30%;
                  display: inline-block;
                  margin: -.4rem 1rem -.4rem -.4rem;
                  font-weight: bold;
                }
    
                .p-progressbar {
                  margin-top: .5rem;
                }
              }
            }
          }
        }
      }
    }
    .office-m45{
      margin-top:-55px;
    }
  
    .custom-checkbox {
      display: block;
      transform: scale(0.8);
    }