<section class="page__content p-3 p20 shadow dis-fl dis-fl2 position-relative dis-flex-colu">
  <form class="form">
    <div class="col-lg-6" style="width: 100% !important; padding: 1rem">
      <div class="heading">
        <h2>Generated Asset IDs</h2>
      </div>
      <div
        style="
          overflow: auto;
          width: 100%;
          border: 2px solid #c2c2c2;
          margin-top: 1rem;
        "
      >
        <table class="table table-bordered text-center">
          <thead style="background-color: #f2f2f2; color: #3e3e3e">
            <tr>
              <th>S.No</th>
              <th scope="col">Material Code</th>
              <th scope="col">Material Description</th>
              <th scope="col">Category</th>
              <th scope="col">Asset ID</th>
              <!-- <th scope="col">Work Part</th> -->
          
              <!-- <th scope="col">Quantity</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ row.mlCode }}</td>
              <td style="text-align: left">{{ row.mlName }}</td>
              <td>{{ row.assetType }}</td>
              <td>{{ row.assetId }}</td>
              <!-- <td>{{ row.workPart}}</td> -->
              
              <!-- <td>{{ row.quantity }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-box mt-4 center-btn">
        <button
          type="button"
          class="btn btn-primary btn-md"
          (click)="navigate()"
        >
          Close
        </button>
      </div>
    </div>
  </form>
</section>
