:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item {
  color: white !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;

  ::ng-deep {
    .mat-list-item-content {
      background-color: #001a47;
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #263c70 !important;
      }
    }
  }
}

::ng-deep.mat-drawer-inner-container {
  background-color: #4472c4;
}
.section-container {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:  #263c70;
}

.section-title {
  display: block;
  // align-items: center;
  // justify-content: space-between;
  padding: 0.6rem;
  //padding: 0.8rem 1rem;
  //background-color: #f5f5f5;
  cursor: pointer;
  color: #ffffff
}
.section-content {
  padding: 0.5rem 1rem;
  margin-bottom: unset;
  color: white;
  background: #4472c4;
  padding-left: unset;
  font-size: 0.9rem;
  gap: 0.05rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
