
<div class="container-fluid page-3">
  <section class="mt-2 ms-4">
  <ul>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/estimates/dashboard">Estimates </a>
        </li>
        <li class="breadcrumb-item">
          <a style="color: lightslategray">Emergency Works Estimation </a>
        </li>
      </ol>
    </nav>
  </ul>
</section>


  <div class="col-lg-6 mt-4 shadow dis-fl dis-fl2  premisesInspe cd-container">
  <div class="page__content  p-3 position-relative dis-flex-colu">
    <h2 class="title-2"> Emergency Works Estimation</h2>
  
    <div>
      <form class="form" [formGroup]="estimateCharges">
        <h3><strong>Estimation Charges Details</strong></h3>

        <div class="col mt-3 disp-flex">
          <label class="form-label"
            >Estimation Work Description <span class="star">*</span></label
          >
          <textarea
            name=""
            id="estimationWorkDescription" 
            cols="20"
            rows="3"
            maxlength="{{ maxCharLimits.estimationWorkDescription }}"
            (input)="onInputChange(estimateCharges,'estimationWorkDescription')"
            formControlName="estimationWorkDescription"
            (focus)="onFocus('estimationWorkDescription')"
            (blur)="onBlur('estimationWorkDescription')"
            class="form-control"
            placeholder="Input"
          ></textarea>
        </div>
        <mat-error  *ngIf="estimateCharges.get('estimationWorkDescription').hasError('required') && estimateCharges.get('estimationWorkDescription').touched">
          Please fill in this field.
        </mat-error>
        <div class="char-count text-end" *ngIf="isCharCountVisible['estimationWorkDescription']">
          <span *ngIf="charCount['estimationWorkDescription'] === maxCharLimits.estimationWorkDescription" class="text-danger">
            {{ maxCharLimits.estimationWorkDescription }} characters limit reached
          </span>
          <span *ngIf="charCount['estimationWorkDescription'] < maxCharLimits.estimationWorkDescription" class="text-danger">
            {{ (maxCharLimits.estimationWorkDescription - charCount['estimationWorkDescription']) }} characters remaining
          </span>
        </div>
        <div class="col disp-flex">
          <label class="form-label">Dop Category <span class="star">*</span></label>
          <select class="form-select" formControlName="workCategory">
            <option disabled>select</option>
            <option *ngFor="let workCategoryItem of workCategoryData" [value]="workCategoryItem.workCategoryMasterId">
              {{ workCategoryItem.workCategoryName }}
            </option>
          </select>
        </div>
        <mat-error  *ngIf="estimateCharges.get('workCategory').hasError('required') && estimateCharges.get('workCategory').touched">
          Please fill in this field.
        </mat-error>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Work Execution Method <span class="star">*</span></label>
          <select
            class="form-select"
            formControlName="workExecutionMethod"
            (change)="onChangeWorkExecution($event.target.value)"
          >
            <option value="" disabled>select</option>
            <option
              *ngFor="let workExecutionItem of workExecution"
              [value]="workExecutionItem.woExecutionMethodId"
            >
              {{ workExecutionItem.woExecutionMethodName }}
            </option>
          </select>
        </div>
        <mat-error  *ngIf="estimateCharges.get('workExecutionMethod').hasError('required') && estimateCharges.get('workExecutionMethod').touched">
          Please fill in this field.
        </mat-error>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Rate Type <span class="star">*</span></label>
          <select class="form-select" formControlName="rateType">
            <option disabled>select</option>
            <option value="SR">SR Rates</option>
          </select>
        </div>
        <mat-error  *ngIf="estimateCharges.get('rateType').hasError('required') && estimateCharges.get('rateType').touched">
          Please fill in this field.
        </mat-error>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Suspense Store <span class="star">*</span></label>
          <select class="form-select" formControlName="suspenseOffice" (change)="onChangeSuspense()">
            <option [disabled]="true" disabled>select</option>
            <option
            *ngFor="let suspenseItem of suspenseStoreData"
            [value]="suspenseItem.storeCode"
          >
            {{ suspenseItem.storeName }}
          </option>
          </select>
        </div>
        <mat-error  *ngIf="estimateCharges.get('suspenseOffice').hasError('required') && estimateCharges.get('suspenseOffice').touched">
          Please fill in this field.
        </mat-error>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Suspense Request No. <span class="star">*</span></label>
          <input class="form-control" placeholder="Input" type="text" formControlName="suspenseRequestNo" [maxLength]="50" appAlphaNumeric/>
        </div>
        <mat-error  *ngIf="estimateCharges.get('suspenseRequestNo').hasError('required') && estimateCharges.get('suspenseRequestNo').touched">
          Please fill in this field.
        </mat-error>
        <h2>Scope of Work Description</h2>

        <div class="scopeOfWork">
          <div class="col  disp-flex" style="flex-direction: column">
            <label class="form-label"> Estimate Type <span style="color: red"> *</span></label>
            <select class="form-select" formControlName="estimateType" (change)="onChangeEstimateType()">
              <option value="" disabled>select</option>
              <option
                *ngFor="let estimateTypeItem of estimateType"
                [value]="estimateTypeItem.estimateTypeCode"
              >
                {{ estimateTypeItem.estimateTypeName }}
              </option>
            </select>
          </div>
          <div class="col  disp-flex" style="flex-direction: column">
            <label class="form-label">Type of Work</label>
            <select
              class="form-select"
              formControlName="typeOfWork"
              (change)="onChangeTypeOfWork($event.target.value)"
            >
              <option value="" disabled>select</option>
              <option value="LT">LT</option>
              <option value="HT">HT</option>
              <option value="HT">BOTH</option>
            </select>
          </div>
          <div class="col  disp-flex" style="flex-direction: column">
            <label class="form-label">Work Part</label>
            <select
              class="form-select"
              formControlName="workPart"
              (change)="onChangeWorkPart($event.target.value)"
            >
              <option value="" disabled>select</option>
              <option *ngFor="let workPartItem of workPart" [value]="workPartItem" >
                {{ workPartItem }}
              </option>
            </select>
          </div>
          <div class="col-3  disp-flex" style="flex-direction: column">
            <label class="form-label">Work Description</label>
            <select
              class="form-select"
              style="width: 100%"
              formControlName="workDescription"
              (change)="onChangeWorkDescription($event.target.value)"
            >
              <option value="" disabled>select</option>
              <option
                *ngFor="let workscopeDescItem of workscopeDesc"
                [value]="workscopeDescItem.workscopeDescMasterId"
              >
                {{ workscopeDescItem.workscopeDescription }}
              </option>
            </select>
          </div>
          <div class="col mt-4 disp-flex">
            <button
              class="btn btn-md"
              [disabled]="alreadyExistScopeOfWork"
              (click)="addExecutionWorkTable()"
            >
              Add
            </button>
          </div>
        </div> 

        <h2>Item details</h2>
        <div
          class="radio-btns"
          style="display: flex; justify-content: space-between"
        >
          <div style="display: flex; gap: 0.5rem">
            <label class="search-label">Search By</label>
            <input
              class="ms-2"
              type="radio"
              formControlName="materialOrLabour"
              id="materialOrLabour"
              name="materialOrLabour"
              value="MATERIAL"
              (change)="onChangeMaterials()"
            />
            <label for="MATERIAL">Material</label>
            <input
              class="ms-2"
              type="radio"
              formControlName="materialOrLabour"
              id="materialOrLabour"
              name="materialOrLabour"
              value="LABOR"
              (change)="onChangeMaterials()"
            />
            <label for="LABOUR">Labour</label>
          </div>
        </div>
        <div
          class="top-row"
          *ngIf="estimateCharges.get('materialOrLabour').value === 'MATERIAL'">
          <mat-form-field
            style="width: 100% !important; font-size: 1.5rem !important"
          >
          <span matPrefix class="search-icon2"><mat-icon>search</mat-icon></span>

            <input
              style="color: #000;"
              matInput
              placeholder="Search Material"
              [matAutocomplete]="unitAuto"
              formControlName="materialUnitControl"
            />
            <mat-autocomplete
              #unitAuto="matAutocomplete"
              (optionSelected)="onMaterialUnitSelected($event.option.value)"
            >
              <mat-option
                *ngFor="let unit of filteredMaterialUnits | async"
                [value]="unit"
              >
                {{ unit }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div
          class="top-row "
          *ngIf="estimateCharges.get('materialOrLabour').value === 'LABOR'"
        >
          <mat-form-field
            style="width: 100% !important; font-size: 1.5rem !important"
          >
          <span matPrefix class="search-icon2"><mat-icon>search</mat-icon></span>
            <input
              matInput
              placeholder="Search Labour"
              [matAutocomplete]="unitAuto"
              formControlName="labourUnitControl"
            />
            <mat-autocomplete
              #unitAuto="matAutocomplete"
              (optionSelected)="onMaterialUnitSelected($event.option.value)"
            >
              <mat-option
                *ngFor="let unit of filteredMaterialUnits | async"
                [value]="unit"
              >
                {{ unit }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="row">
          <label class="form-label">Labour List</label>
          <div class="col-md-11">
            <div
            class="col disp-flex"
            style="flex-direction: column"
            *ngIf="
              estimateCharges.get('materialOrLabour').value === 'MATERIAL'
            "
          >
           
            <mat-select
              class="form-select"
              style="width: 100%"
              formControlName="labourList"
              multiple
            >
              <mat-option
                *ngFor="let items of labourList"
                [value]="items.materialsLabourMasterId"
                >{{ items.mlCode }} - {{ items.mlName }}</mat-option
              >
            </mat-select>
          </div>
          </div>
          <div class="col-md-1">
            <div class="col disp-flex" style="justify-content: flex-end">
              <button class="btn btn-md" (click)="addItemTable()">Add</button>
            </div>
    
          </div>
          </div>
          <div *ngIf="regularizationFilterExecutionWorkTable.length">
          <h1 class="mt-4" style="color: #000;">Under Execution Work</h1>
          <div>
            <h1 style="color: #000;">Regularization Estimate</h1>
            <div
              *ngFor="
                let executionWork of regularizationFilterExecutionWorkTable;
                index as i
              "
            >
              <div style="border: 2px solid #e1e1e1; padding: 1rem">
                <div class="radio-btns" style="display: flex; justify-content: space-between">
                  <div style="display: flex; gap: 0.5rem">
                    <input
                      type="radio"
                      formControlName="undExWork"
                      id="regular"
                      name="undExWork"
                      value="{{ i }}-{{ executionWork.estimateTypeCode }}"
                    />
                    <label for="regular"
                      >{{ executionWork.workType }}-
                      {{ executionWork.workPart }}-
                      {{ executionWork.workscopeDescription }}</label
                    >
                  </div>
                  {{ selectedValue }}
                  <button
                    style="border: none"
                    (click)="removeRegularizationExecutionWorkTable(i, executionWork.workPart)"
                  >
                    <img src="assets/delete-icon.png" alt="" />
                  </button>
                </div>
                <div style="display: flex; flex-wrap: wrap; overflow: auto">
                  <table
                    class="table text-center"
                    style="margin-top: 1rem; width: 100%; flex-wrap: wrap"
                  >
                    <thead style="background-color: #dfdfdf">
                      <tr>
                        <th scope="col">Rate Type</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Avl Qty</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Materials Amount</th>
                        <th scope="col">Labour Rate</th>
                        <th scope="col">Labour Amount</th>
                        <th scope="col">View</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let tableItem of executionWork.materialItems;
                          index as id
                        "
                      >
                        <td>{{ tableItem.rateType }}</td>
                        <td>
                          {{ tableItem.itemCode }} - {{ tableItem.itemName }}
                        </td>
                        <td>{{ tableItem.storeQuantity }}</td>
                        <td style="max-width: 4rem">
                          <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="tableItem.quantity"
                            [ngModelOptions]="{ standalone: true }"
                            (input)="
                              onQuantityChange(
                                $event.target.value,
                                i,
                                id,
                                tableItem.materialRate,
                                tableItem.labourRate,
                                tableItem.storeQuantity
                              )
                            "
                            (keydown)="validateDecimalInput($event)"
                          />
                        </td>
                        <td>{{ tableItem.itemUnit }}</td>
                        <td>{{ tableItem.materialRate }}</td>
                        <td>{{ tableItem.materialsAmount }}</td>
                        <td>{{ tableItem.labourRate }}</td>
                        <td>{{ tableItem.laboursAmount }}</td>
                        <td>
                          <button
                            style="
                              border: none;
                              background-color: transparent;
                            "
                            (click)="openviewDialog(tableItem.laborData)"
                          >
                            <img src="assets/view.svg" alt="" />
                          </button>
                        </td>
                        <td>
                          <button (click)="deleteRegularizationItem(i, id)">
                            <img src="assets/delete-icon.png" alt="" />
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td><h1>Total Rs.</h1></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ executionWork.materialCost }}</td>
                        <td></td>
                        <td>{{ executionWork.labourCost }}</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2>Typical Cost Data Sheet for Execution Work</h2>
      </form>
    </div>

    <div>
      <form [formGroup]="addChargeForm">
        <div>
          <label class="form-label">Additional Charges</label>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <select
            class="form-select"
            formControlName="additionalCharges"
            (change)="onChangeAdditionalCharges()"
          >
            <option value="">select</option>
            <option
              *ngFor="let additionalChargesItem of additionalChargesSel"
              [value]="additionalChargesItem.estimationAdditionalChargesId"
            >
              {{ additionalChargesItem.additionalChargeName }}
            </option>
          </select>
          <!-- <button class="btn btn-lg">Add</button> -->
        </div>

        <!-- Typical cost data grid -->
        <div style="display: flex; justify-content: end">
          <table style="width: 100%; table-layout: fixed;">
            <colgroup>
              <col style="width: 35%;">
              <col style="width: 5%;">
              <col style="width: 35%;">
              <col style="width: 20%;">
              <col style="width: 5%;">
            </colgroup>
            <div class="mt-2">
            <button
            class="btn btn-sm"
            (click)="addAdditionalCharges()"
            [disabled]="alreadyExistAdditionalCharge"
          >
            Add
          </button>
        </div>
            <tr>
              <td>
              </td>                  
              <td></td>
              <td>Material Cost (A)
              <td>
                <input
                  type="number"
                  [value]="estimationMaterialCost"
                  [(ngModel)]="estimationMaterialCost"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  style="width:100%"
                  id=""
                  placeholder="0.00"
                  disabled
                />
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Labour Cost (B)</td>
              <td>
                <input
                  type="number"
                  [value]="estimationLabourCost"
                  [(ngModel)]="estimationLabourCost"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  style="width:100%"
                  id=""
                  placeholder="0.00"
                  disabled
                />
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Basic Rate (C) = (A + B)</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  [value]="basicRate"
                  style="width:100%"
                  placeholder="0.00"
                  disabled
                />
              </td>
              <td></td>
            </tr>
            <tr *ngFor="let addCharge of addChargesBeforeTotalLabour; index as i">
              <td  *ngIf="addCharge.additionalChargeName === 'GST'"></td>
              <td style="width: 5%" *ngIf="addCharge.additionalChargeName === 'GST'">
                {{ addCharge.chargeTypeValue }} %
              </td>
              <td style="width: 40%">
                <ng-container *ngIf="addCharge.additionalChargeName !== 'GST'">
                  <mat-select class="form-select" style="width:100%" [(ngModel)]="selectedCategory "[ngModelOptions]="{standalone: true}"(selectionChange)="onChange(addCharge, $event.value)">
                    <mat-option disabled>Please Select additional charges</mat-option>
                    <mat-option class="single-line horizontal-scroll" *ngFor="let addCharge of areaSpecificLoadingCharges" [value]="addCharge.chargesCategory" >
                      {{ addCharge.chargesCategory }} {{ addCharge.symbol }}
                    </mat-option>
                  </mat-select>
                </ng-container>
                <ng-container *ngIf="addCharge.additionalChargeName === 'GST'">
                  {{ addCharge.additionalChargeName }} (E)
                </ng-container>
              </td>
              <td style="width: 5%" *ngIf="addCharge.chargeType === 'PERCENTAGE' && addCharge.additionalChargeName === 'Area Specific Loading on Basic Rates'">
                {{ addCharge.showPercentage ? addCharge.chargeTypeValue + '%' : '' }}
              </td>
              <td style="width: 10%;white-space: nowrap;" *ngIf="addCharge.additionalChargeName !== 'GST'">
                {{ addCharge.additionalChargeName }} (D)
              </td>
              <td style="width: 40%">
                <input
                  type="number"
                  class="form-control"
                  style="width:100%"
                  id=""
                  readonly
                  [value]="addCharge.showAmountInput||gstAmount ? addCharge.amount : '0.00' "
                  [ngModelOptions]="{standalone: true}"
                  (input)="
                    onAdditionalChargeAmount(
                      $event,
                      addCharge.estimationAdditionalChargesId
                    )
                  "
                  placeholder="0.00"
                  (keydown)="validateDecimalInput($event)"
                  (blur)="sanitizeInput($event)"
                />
              </td>
              <td>
                <button style="border: none" (click)="removeAdditionalChargesBeforeTotalLabour(addCharge.estimationAdditionalChargesId)">
                  <img src="assets/delete-icon.png" alt="" />
                </button>
              </td>
            </tr>
             <tr>
              <td></td>
              <td></td>
              <td>Cost of Estimate (F) = (C + D + E)</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  disabled
                  readonly
                  [value]="totalEstimateCost ||totalLabourChargesInRs "
                  
                  style="width:100%"
                  id=""
                  placeholder="0.00"
                />
              </td>
            </tr>
            <tr
              *ngFor="
                let addCharge of addChargesAfterTotalLabour;
                index as i
              "
            >
            <td></td>
              <td *ngIf="addCharge.chargeType !== 'PERCENTAGE'"></td>
              <td *ngIf="addCharge.chargeType === 'PERCENTAGE'">
                {{ addCharge.chargeTypeValue }}
                <!-- <input type="number" class="form-control" style="width: 80%" id="" [value]="addCharge.chargeTypeValue" (input)="onAdditionalChargeTypeValue($event, addCharge.estimationAdditionalChargesId, addCharge.additionalChargeName, addCharge.valueCalculatedByLabour, addCharge.valueCalculatedByMaterial)" placeholder="0.00"> -->
                %
              </td>
              <td>{{ addCharge.additionalChargeName }}</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  style="width:100%"
                  id=""
                  [value]="addCharge.amount"
                  (input)="
                    onAdditionalChargeAmount(
                      $event,
                      addCharge.estimationAdditionalChargesId
                    )
                  "
                  placeholder="0.00"
                  (keydown)="validateDecimalInput($event)"
                  (blur)="sanitizeInput($event)"
                />
              </td>
              <td>
                <button
                  style="border: none"
                  (click)="
                    removeAdditionalChargesAfterTotalLabour(
                      addCharge.estimationAdditionalChargesId
                    )
                  "
                >
                  <img src="assets/delete-icon.png" alt="" />
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td> <strong>Total Cost of Estimate (F + Sum of all charges below (F))</strong
                        ></td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  style="width:100%"
                  readonly
                  [value]="totalEstimationCostInRs.toFixed(2)"
                  placeholder="0.00"
                  disabled
                />
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </form>
    </div>

    <!-- /////////////////////////////////////////////////////////// -->
    <div>
      <form [formGroup]="estimatedByForm">
        <h2>Estimated By</h2>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Certification</label>
          <textarea
            class="form-control"
            name=""
            id="certification" 
            cols="20"
            rows="3"
            maxlength="{{ maxCharLimits.certification }}"
            (input)="onInputChange(estimatedByForm,'certification')"
            formControlName="certification"
            (focus)="onFocus('certification')"
                    (blur)="onBlur('certification')"
            [(ngModel)]="certification"
            appAlphaNumeric
          ></textarea>
        </div>
        <div class="char-count text-end" *ngIf="isCharCountVisible['certification']">
          <span *ngIf="charCount['certification'] === maxCharLimits.certification" class="text-danger">
            {{ maxCharLimits.certification }} characters limit reached
          </span>
          <span *ngIf="charCount['certification'] < maxCharLimits.certification" class="text-danger">
            {{ (maxCharLimits.certification - charCount['certification']) }} characters remaining
          </span>
        </div>
        <div class="col  disp-flex">
          <label class="form-label">Report <span class="star">*</span></label>
          <textarea
            class="form-control"
            name=""
            id="report" 
            cols="20"
            rows="3"
            maxlength="{{ maxCharLimits.report }}"
            (input)="onInputChange(estimatedByForm,'report')"
            formControlName="report"
            (focus)="onFocus('report')"
                    (blur)="onBlur('report')"
            placeholder="Enter Report"
            appAlphaNumeric
          ></textarea>
        </div>
        <div class="char-count text-end" *ngIf="isCharCountVisible['report']">
          <span *ngIf="charCount['report'] === maxCharLimits.report" class="text-danger">
            {{ maxCharLimits.report }} characters limit reached
          </span>
          <span *ngIf="charCount['report'] < maxCharLimits.report" class="text-danger">
            {{ (maxCharLimits.report - charCount['report']) }} characters remaining
          </span>
        </div>
        <div class="col mt-3 disp-flex">
          <label class="form-label">Estimated By</label>
          <input
            type="text"
            class="form-control"
            id=""
            formControlName="estimatedBy"
            [ngModel]="placeholder"
          />
        </div>

        <div class="col  disp-flex">
          <label class="form-label">Estimation Date <span class="star">*</span></label>
          <input
            class="form-control"
            type="date"
            style="width: 259px"
            formControlName="estimationDate"
          />

        </div>
        <mat-error  *ngIf="estimatedByForm.get('estimationDate').hasError('required') && estimatedByForm.get('estimationDate').touched">
          Please fill in this field.
        </mat-error>
        <div class="col  disp-flex">
          <label class="form-label">Estimate Remark <span class="star">*</span></label>
          <textarea
            class="form-control"
            name=""
            id="estimateRemark" 
            cols="20"
            rows="3"
            maxlength="{{ maxCharLimits.estimateRemark }}"
            (input)="onInputChange(estimatedByForm,'estimateRemark')"
            formControlName="estimateRemark"
            (focus)="onFocus('estimateRemark')"
                    (blur)="onBlur('estimateRemark')"
            appAlphaNumeric
            placeholder="text area"
          ></textarea>
        </div>

        <mat-error  *ngIf="estimatedByForm.get('estimateRemark').hasError('required') && estimatedByForm.get('estimateRemark').touched">
          Please fill in this field.
        </mat-error>
        <div class="char-count text-end" *ngIf="isCharCountVisible['estimateRemark']">
          <span *ngIf="charCount['estimateRemark'] === maxCharLimits.estimateRemark" class="text-danger">
            {{ maxCharLimits.estimateRemark }} characters limit reached
          </span>
          <span *ngIf="charCount['estimateRemark'] < maxCharLimits.estimateRemark" class="text-danger">
            {{ (maxCharLimits.estimateRemark - charCount['estimateRemark']) }} characters remaining
          </span>
        </div>
        <!-- <div class="col mt-3 disp-flex">
          <label class="form-label">Upload For Sketch Line Diagram</label >
            <div class="input-container">
              <input class="btn btn-upload" style="width: 147%;" type="file" #pdfFileInput name="fileupload" appFileSizeValidator
              class="form-control" id="" formControlName="pdfFile"   placeholder="" />
           <mat-error class="error-message" >File size exceeds 1 MB. Please upload a file below 1MB.</mat-error>
          </div>
        </div> -->
      </form>
    </div>

    <div class="btn-box mt-4 center-btn">
      <button
        matStepperPrevioustype="button"
        class="btn btn-secondary btn-md clor"
      >
        Back
      </button>
      <!-- <button
        type="button"
        *ngIf="estimationTypeGEorRG"
        class="btn btn-primary btn-lg"
        [disabled]="!estimatedByForm.valid"
        (click)="openEstimationDialog('save')"
      >
        Save
      </button> -->
      <button
        *ngIf="estimationTypeGEorRG"
        type="button"
        class="btn btn-primary btn-md"
        [disabled]="!estimatedByForm.valid"
        (click)="openEstimationDialog('generate')"
      >
        Generate Estimation
      </button>
      <!-- <button
        *ngIf="!estimationTypeGEorRG"
        type="button"
        class="btn btn-primary btn-md"
        [disabled]="!estimatedByForm.valid"
        (click)="openReGenerateEstimationDialog()"
      >
        Re-Generate Estimation
      </button> -->
    </div>
  </div>
  </div>


