mat-dialog-content {
    .col-xl-6 {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  
    .disp-flex {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  
    .label-container {
      width: 150px; // Adjust width for labels
      font-weight: 600;
      margin-right: 10px;
    }
  
    .input-container {
      flex: 1;
      
      input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
  
      input[type="file"] {
        display: inline-block;
        width: 100%;
        border: none;
        font-size: 14px;
        margin-top: 5px;
        border: 1px solid #ccc;
      }
      input[type="file"]:hover {
        border-color: #1976d2; /* Change border on hover for better visibility */
      }
  
      .btn-upload {
        background-color: #1976d2;
        color: white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  
    .star {
      color: red;
      font-size: 1rem;
    }
  
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  
    mat-error {
      font-size: 12px;
      color: red;
      margin-top: 5px;
    }
  
    .btn-box {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
  
      .btn-primary {
        background-color: #1976d2;
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #1565c0;
        }
      }
    }
  }
  