h1 {
  color: #484848;
  margin: unset !important;
}

section {
  margin: 0.5rem;
  
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-bottom: 15px;

    label {
      margin: unset;
      font-size: 0.9rem;

    }

    .form-control {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 6px;
      margin-bottom: 1rem;
    }

    .form-select {
      cursor: pointer;
    }
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem !important;
  min-width: 3rem !important;
  font-size:medium;
  &:hover {
    background-color: #7f9cce;
  }
}

.color {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.txt-area {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 80%;
  }
}

.data-sheet {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  p {
    font-size: 0.8rem;
    font-weight: 520;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .two-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }

  .btn-box {
    flex-direction: column;
    gap: 1rem;
  }
}

.labelText {
  font-size: 0.8rem;
}
.inner-div-t{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  margin-bottom: -6px;
}