.footer{
  background-color: #f2f2f2  !important;
  border-top: 2px solid #dadce0;
  color: #70757a;
}
.footer-txt{
  color: #70757a !important;
  padding-top: 15px;
  display: block;
}
.icsl-logo{
  width: 50px;
}