<div class="container-fluid page">
    <section class="mt-2">
      <ul>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/estimates/dashboard">Estimates </a>
            </li>
            <li class="breadcrumb-item">
              <a style="color: lightslategray">
                Inspection Maintenance List 
              </a>
            </li>
          </ol>
        </nav>
      </ul>
    </section>
  
    <app-filter-table headingName="Inspection Maintenance List  Summary"  
    titleName="inspection maintenance list" [isOffice]="true" [cols]="cols" [rows]="InspectionList" 
    [data]="InspectionList" [filterFields]="filterFields" [loading]="false">
    </app-filter-table>
 </div>
