h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

.record-not-found {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.record-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  .record-boxes {
    border: 1px solid #c2c2c2;

    .record-boxes-heading {
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem;
    }
  }

  td input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

.options-box {
  display: flex;
  gap: 1rem;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.4rem;
  background-color: #4472c4;
  color: white;
  min-height: 0.5rem;
  min-width: 1rem;
  font-size: 1rem;

  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;
  min-width: 0.5rem !important;
  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

@media only screen and (max-width: 1000px) {
  .record-box {
    grid-template-columns: 1fr;
  }

  .options-box {
    flex-direction: column;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
