<section>
  <form class="form">
    <div class="col-lg-6 mt-4" style="width: 100% !important; padding: 1rem">
      <div class="heading" style="background-color: #f0f0f0">
        <h1>Upload Material Approval</h1>
      </div>

      <div
        style="
          overflow: auto;
          width: 100%;
        
          margin-top: 1rem;
        "
      >
        <table class="table table-bordered text-center">
          <thead style="background-color: #f2f2f2; color: #3e3e3e">
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Invoice No</th>
              <th scope="col">Invoice Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a
                  routerLink="/store-management/upload-invoice-approval-details"
                  >-INV1</a
                >
              </td>
              <td>06-08-2022</td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <a
                  routerLink="/store-management/upload-invoice-approval-details"
                  >-INV2</a
                >
              </td>
              <td>06-08-2022</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
