h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

section {
  margin: 0.5rem;

}

th {
  font-size: 1rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

td {
  text-align: -webkit-center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #757575;

  input {
    min-width: 8rem !important;
  }

  select {
    min-width: max-content !important;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }
}
