@import url("../add-material-labour-mapping/add-material-labour-mapping.component.scss");

.radio-buttons {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;

  label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  mat-radio-group {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .cdk-overlay-pane { 
    width: 80%!important;
  }
}