:host {
  .mat-icon {
    vertical-align: middle;
    font-size: medium;
    transform: translateX(5px); 
    margin-top: 5px;
    transition: all 0.1s ease;
  }
}
.mat-ics{
  margin-top: 10px;
  margin-left: 65px;
  transform: translateX(5px); 
}

.configuration-title{
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    ::ng-deep {
      .mat-list-item-content {
        background-color: #001a47;
        border-radius: 5px;
        margin: 0 8px;
        
      }
  
      &:hover {
        background: #263c70 !important;
        background-color: #001a47;
      }
    }
}

  .mat-list-item:not(.configuration-title) {
    color: rgb(233, 230, 230) !important;
    font-size: 0.8rem;
    height: 24px !important;
    margin-bottom: 4px;

    ::ng-deep {
      .mat-list-item-content {
        // background-color: #4472c4;
        // border-radius: 5px;
        margin-left: 25px;
      }
  
      &:hover {
        color:white ;
        transition: transform 0.3s ease;
        transform: translateX(0.5px);
      }
  
    }
  }
::ng-deep.mat-drawer-inner-container {
  background-color: #4472c4;
}

.mat-expansion-panel-body {
  padding: 0 0 0;
}

.section-container {
  border-radius: 5px;
  margin-bottom: 0.9rem;
}

.section-title {
  display: block !important;
  padding: 0.4rem;
  color: white !important;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
}

.section-content {
  padding: 0.1rem 0.1rem;
  margin-bottom: unset;
  color: white;
  background: #4472c4;
  font-size: 0.9rem;
  flex-direction: column;
  list-style: none;
}
.mat-ic{
  margin-top: 8px;
  margin-left: 50px;
}

.section-title:hover .toggle-icon {
  transform: translateX(5px); 
}
.section-content a:hover {
  background-color: #eee;
}

.section-title.configuration {
  background-color: #4472c4;
  color: white;
}
.sub-nav-list {
  margin-top: -1rem; 
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.scrollable-list {
  max-height: 250px;
  overflow-y: auto;
}

