<div class="container-fluid page-3">
    <ul>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/configuration">Configuration</a>
                </li>
                <li class="breadcrumb-item">
                    <a style="color: lightslategray">Financial Year Master</a>
                </li>
            </ol>
        </nav>
    </ul>
    <div class="page__content p-3 p20 shadow dis-fl dis-fl2  position-relative dis-flex-colu">
        <h2 class="title-2">Financial Year Master</h2>
        <div style="display: flex; flex-wrap: wrap; overflow: auto">
            <div class="top-row">
                <div class="input-control">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search By Financial Year</mat-label>
                        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Ex. Each" />
                    </mat-form-field>
                </div>
                <div class="button-control">
                    <button mat-button class="c-btn" (click)="openAddFinancialYearMasterDialog()">
                        Add Finanacial Year
                    </button>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="mt-4">
                <!-- SLNO Column -->
                <ng-container matColumnDef="slno">
                    <th mat-header-cell *matHeaderCellDef>SL NO</th>
                    <td mat-cell *matCellDef="let element">
                      {{ dataSource.data.indexOf(element) + 1 }}
                    </td>
                  </ng-container>

                <!-- Financial Year Column -->
                <ng-container matColumnDef="financialYear">
                    <th mat-header-cell *matHeaderCellDef>Financial Year</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.financialYear }}
                    </td>
                </ng-container>

                <!-- Financial Year Start Date Column -->
                <ng-container matColumnDef="financialYearStartDate">
                    <th mat-header-cell *matHeaderCellDef>Financial Year Start Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.financialYearStartDate }}
                    </td>
                </ng-container>

                <!-- Financial Year End Date Column -->
                <ng-container matColumnDef="financialYearEndDate">
                    <th mat-header-cell *matHeaderCellDef>Financial Year End Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.financialYearEndDate }}
                    </td>
                </ng-container>

                <!-- Display Flag Column -->
                <ng-container matColumnDef="displayFlag">
                    <th mat-header-cell *matHeaderCellDef>Display Flag</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.displayFlag === '0' ? 'No' : 'Yes' }}
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button style="border: none; background-color: transparent" (click)="
                        UpdateFinancialYearMasterComponent(element.financialYearMasterId)">
                            <mat-icon color="error">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
        </div>
        </div>