<section>
  <form [formGroup]="accountheadSubmainForm">
  <h1 mat-dialog-title>Update Account Head Submain Master</h1>
  <div class="content-fields mt-4" mat-dialog-content style="flex-direction: column;">
    <div class="modal-input-control">
      <mat-form-field class="example-full-width">
        <mat-label> Account Head Submain Name</mat-label>
        <input matInput placeholder="Ex. Conductor" formControlName="accountHeadSubmainName" [maxLength]="100" appAlphaNumeric required />
        <mat-error *ngIf="accountheadSubmainForm.get('accountHeadSubmainName').hasError('required') && accountheadSubmainForm.get('accountHeadSubmainName').touched">
          Please enter in this field.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label> Account Head Submain Code</mat-label>
        <input matInput placeholder="Ex. 234" formControlName="accountHeadSubmainCode" [maxLength]="10" appAlphaNumeric required/>
        <mat-error *ngIf="accountheadSubmainForm.get('accountHeadSubmainCode').hasError('required') && accountheadSubmainForm.get('accountHeadSubmainCode').touched">
          Please enter in this field.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="modal-input-control">
      <mat-form-field class="example-full-width">
        <mat-label>Account Head Main Name</mat-label>
        <mat-select formControlName="amAccountHeadMainMasterId">
          <mat-option *ngFor="let main of accountHeadMainData" [value]="main.amAccountHeadMainMasterId">
            {{main.accountHeadMainCode}}-{{main.accountHeadMainName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="accountheadSubmainForm.get('amAccountHeadMainMasterId').hasError('required') && accountheadSubmainForm.get('amAccountHeadMainMasterId').touched">
          Please select in this field
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button (click)="onAccHeadSubmainMasterUpdate()">Update</button>
    <button class="btn clor" mat-button mat-dialog-close>Close</button>
  </div>
  </form>
</section>