.form-container {
    width: 50%; 
}

.input-group {
    display: flex;
    align-items: center;  
    gap: 4px; 
}

mat-label {
    margin-right: 8px; 
}

mat-form-field {
    flex-grow: 1;  
}

button {
    white-space: nowrap;
    margin-left: 8px;  
}
.form-group {
    display: flex;
    align-items: center;  
    gap:60px; 
    margin-right:10rem;
  }

.details-section {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.details-left,
.details-middle,
.details-right {
    width: 32%;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.input-group label {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    line-height: 1.5; 
}

.input-group p {
    flex: 2;
    text-align: left;
    margin-right: 1px;
    line-height: 1.5; 
    margin-top: 5px;
}
.button-container {
    position: relative;       
    left: 40%;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.btn-revert {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-revert:hover {
    background-color: #365f98; 
}
.snackbar-success {
    background-color: #4caf50;
    color: #ffffff;
  }
  
  .snackbar-failure {
    background-color: #f44336; 
    color: #ffffff;
  }
  .error-message {
    color: #eb2019;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #e42822;
    border-radius: 4px; 
  }
 .btn-minimize{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #4472c4;
    padding: 5px 10px;
    margin-left: -15px;
 } 
 .box-navigation {
    display: inline-flex;
    align-items: center;
    background-color: #f0f8ff; 
    color: #3498db; 
    border: 1px solid #3498db;
    border-radius: 4px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 12px;
  }

  .box-navigation:hover {
    background-color: #e6f4ff; 
    color: #1d78c1; 
    border-color: #1d78c1;
  }

  .icon_configuration {
    width:15px;
    height: 20px;
  }