<section>
  <h1 mat-dialog-title>Add Labour Rate Master</h1>
  <div class="content-fields mt-4" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Material Type</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="two-row-fields">
      <mat-form-field class="example-full-width">
        <mat-label>Labour Item</mat-label>
        <input matInput placeholder="Ex. Each" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Labour Code</mat-label>
        <input matInput placeholder="Ex. Each" />
      </mat-form-field>
    </div>
    <div class="two-row-fields">
      <mat-form-field class="example-full-width">
        <mat-label>Labour Rate</mat-label>
        <input matInput placeholder="Ex. Each" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Labour Unit</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button>Add</button>
    <button class="btn clor" mat-button mat-dialog-close>Close</button>
  </div>
</section>