h1 {
    color: #484848;
    font-weight: 600;
    margin: unset !important;
  }
  
  section {
    margin: 0.5rem;
    
  }
  
  th {
    font-size: 0.9rem;
    font-weight: 200;
    background-color: #f0f6ff;
  }
  
  td {
    text-align: -webkit-center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #757575;
  
    input {
      min-width: 3rem !important;
    }

    .m-width {
      min-width: 10rem !important;
    }
    
    section {
      margin: 0.5rem;
    
    }
  }
  
  .one-row-grid {
    grid-template-columns: 0.3fr 1fr;
  }
  .three-row-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid {
    display: grid;
    column-gap: 4rem;
  
    .inner-div {
      display: grid;
      gap: -3cm;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;
      margin-bottom: 0.5rem;
  
      
       label {
        margin-right: 0%;
        font-size: 1rem;
        font-weight: 600;
      }
  
      p {
        font-size: 0.9rem;
        color: #6e6d6d;
        font-weight: 500;
        margin-left:-2.6rem;
      }
    }
    .innerStore-div {
      display: grid;
      gap:0.7cm;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;
      margin-bottom: 0.5rem;
      margin-left:-0.7rem;
  
      
       label {
        margin-right: 1%;
        font-size: 1rem;
        font-weight: 600;
      }
  
      p {
        font-size: 0.9rem;
        color: #6e6d6d;
        font-weight: 500;
      }
    }
  }
  
  .txt-area {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
  
    textarea {
      padding: 0.5rem;
      border: 1px solid #939393;
      background-color: #f5f5f5;
      border-radius: 5px;
      width: 80%;
    }
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 6px;
  }
  .form-control-p {
    padding: 0.3rem; 
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 0.8rem; 
    height: 2rem;
    width: 20% !important; 
  }
  
  .form-select {
    cursor: pointer;
  }
  
  .btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    padding: 0.4rem 1rem;
    background-color: #4472c4;
    color: white;
    min-height: 1.5rem !important;
    min-width: 3rem !important;
  
    &:hover {
      background-color: #7f9cce;
    }
  }
  
  .clor {
    background-color: white;
    color: #4472c4;
    border: 2px solid #4472c4;
  
    &:hover {
      background-color: #d8d7d7;
      color: #4472c4;
    }
  }
  
  .btn-upload {
    width: 50%;
    border: 2px dashed #c2c2c2 !important;
    color: #484848;
    background-color: white;
    padding: 1rem;
  
    &:hover {
      color: white;
      border: 2px solid #c2c2c2 !important;
      transition: 1s;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    section {
      margin: 1rem;
    }
  
    .grid {
      grid-template-columns: 1fr;
  
      .inner-div {
        grid-template-columns: 1fr;
        gap: 0.5rem;
  
        label,
        input,
        p,
        select {
          font-size: 0.8rem;
        }
      }
    }
  
    .txt-area {
      flex-direction: column;
  
      textarea {
        width: 100% !important;
      }
    }
  }
  .material-input {
    width: 300px; 
  }
  ::ng-deep .mat-option-text {
    text-overflow: unset !important;
    overflow: auto !important;
  }
  
  ::ng-deep .mat-select-value {
    text-overflow: unset !important;
    overflow: auto !important;
  }
  
  td {
    max-width: 200px;
    white-space: nowrap;
    overflow: auto;
  }
  .select-box {
    min-width: 17rem !important;
    margin-left: 1rem;
  }
  .select-box-s{
    min-width: 17rem !important;
    margin-left: 2rem; 
  }
  .form-wrapper{
    display: flex;
  }
  .input-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .input-control{
    select,
    input{
        width: 100%!important;
    }
  }
  
  .block-div{
    display: block;
    margin-top: 2rem;
  }
  .label-text{
    margin-right: 0%;
    font-size: 0.9rem;
  }
  .input-control{
    display: flex;
    align-items: center;
  }
  
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 350px;
    margin-top: -20px;
    margin-left: 30px;
  }
  .custom-select {
    position: relative;
   
  }
  
  .select-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust this value based on your design */
    transform: translateY(-50%);
    pointer-events: none; /* Allows clicks to pass through to the select element */
  }
  
  .custom-option {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-option:hover {
    background-color: #f0f0f0;
  }
  
  
  
  
  
  
  
  