h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;

}
section {
  margin: unset;
  
}

// .search-icon2 {
//   position: absolute;
//   left: 303px;
//   top: -21px;
//   color: black;
// }

.search-icon2 {
  position: relative;
  left: -7px;
  top: 13px;
  color:black;
}