* {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 1.2rem !important;
  }
  
  section {
    margin: 0.5rem;
    
  }
  
  .h-custom {
    border-radius: 1rem;
    box-shadow: 0px 14px 40px rgb(0 0 0 / 21%);
  }
  
  .dis-fl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1rem;
    width: 100%;
    gap:1.5rem
  
    h1 {
      background-color: #f0f0f0;
      color: #484848;
      margin-top: 1rem;
      padding-left: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  
  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #2d2d2d;
    // gap: 2rem;
  }
  
  .app-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  
    .appForm-btn {
      border: none;
      background-color: white;
      color: #7c7c7c;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      box-shadow: 0px 14px 40px rgb(0, 0, 0, 21%);
  
      &:hover {
        border: 2px solid #4472c4;
        box-shadow: none;
      }
    }
  
    .appForm-btn-nxt {
      padding: 1.5rem 3.5rem;
      border-radius: 2rem;
      margin-bottom: 2rem;
      border: none;
      background-color: white;
      color: #7c7c7c;
      box-shadow: 0px 14px 40px rgb(0, 0, 0, 21%);
  
      &:hover {
        background-color: #4472c4;
        color: #f5f5f5;
        transition: 1s;
        box-shadow: none;
      }
    }
  }
  
  .box-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .ph-box {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.5rem;
    // margin-bottom: 1rem;
  }
  
  .btn {
    padding: 0.4rem 1rem;
    background-color: #4472c4;
    color: white;
    min-height: 1.5rem !important;
    min-width: 3rem !important;
  
    &:hover {
      background-color: #7f9cce;
    }
  }
  
  .clor {
    background-color: white;
    color: #4472c4;
    border: 2px solid #4472c4;
  
    &:hover {
      background-color: #d8d7d7;
      color: #4472c4;
    }
  }
  
  .reqLoad {
    display: flex;
    gap: 1rem;
    input {
      width: 3rem;
      margin-right: 0.5rem;
    }
  }
  
  
  .form-label {
    color: black;
    font-weight: 400;
    gap: 1 rem;
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #939393;
    //background-color: #f5f5f5;
    border-radius: 6px;
 
  }
  
  input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 400;
    opacity: 0.8;
  }
  
  .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
    border: 2px solid #939393;
    border-radius: 8px;
  
    &:focus {
      box-shadow: none;
    }
  }
  
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
  }
  
  .dis-fl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1rem;
    gap:1.5rem;
  }
  
  label {
    font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 30px;
  width: 25%;

  color: #2d2d2d;
  }
  
  .box-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .ph-box {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .phn-btns {
    align-self: center;
    button {
      border: none;
      cursor: pointer;
      margin-right: 0.5rem;
      background: transparent;
    }
  }
  
  .form-select {
   // background-color: #f5f5f5;
    border: 2px solid #939393;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    // font-size: 22px;
    cursor: pointer;
    margin-bottom: 1rem ;
    width: 50%;
  }
  
  ///// Consumer details form style /////
  
  .cd-container {
    display: flex;
    gap: 1px;
  
    .heading {
      background-color: #f0f0f0;
  
      h1 {
        color: #484848;
        font-weight: 600;
        margin: unset !important;
      }
    }
  
    .cd-content {
      display: flex;
      align-items: baseline;
      // gap: 1rem;
      margin-bottom: -1rem;
  
      h3 {
        width: 25%;
        margin: 10px;
       
      }
  
      p {
        // font-size: 0.5rem;
        font-weight: 400;
        padding: 0.5rem;
        border-radius: 10px;
      }
    }
  }
  
  ///// premises Inspe form style /////
  
  .premisesInspe {
    .disp-flex {
      display: flex;
       gap: 0.5rem;
    }
  
    .form-select {
      width: 50%;
    }
  
    .dis-old-acc {
      display: flex;
  
      div {
        display: flex;
        gap: 1rem;
        align-items: baseline;
      }
    }
  }
  
  ///// Load Inspection form style /////
  .loadInspection {
    .kw-hp-column {
      display: flex;
  
      div {
        font-size: 1.5rem;
        font-weight: 400;
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
  
        input {
          width: 100%;
        }
      }
  
      button {
        height: 3rem;
        width: 3rem;
      }
  
      input {
        width: 5rem;
      }
    }
  
    .two-inp-fields {
      display: flex;
  
      div {
        display: flex;
        gap: 0.5rem;
        align-items: baseline;
      }
    }
  }
  
  ////// meter procured form styles /////
  
  .mtr-proc-div {
    .inner-div {
      display: flex;
      justify-content: space-between;
    }
  }
  
  ////// special btn ////
  
  .btn-upload {
    width: 50%;
    border: 2px dashed #c2c2c2 !important;
    color: #484848;
    background-color: white;
    padding: 1rem;
  
    &:hover {
      color: white;
      border: 2px solid #c2c2c2 !important;
      transition: 1s;
    }
  }
  
  .date-field {
    width: 50%;
  }
  
  @media only screen and (max-width: 1000px) {
    .btn-upload,
    .date-field {
      width: 100%;
    }
  }
  
  ///// inspected-checkbox //////
  
  .inspected-checkbox {
    display: flex;
    gap: 1rem;
  
    div {
      display: flex;
      gap: 0.5rem;
    }
  
    label {
      cursor: pointer;
      font-weight: 400;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .cd-container {
      .cd-content {
        flex-direction: column;
        align-items: unset;
  
        h3 {
          width: 100%;
        }
      }
  
      .btn-box {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  
    .premisesInspe {
      .disp-flex {
        display: flex;
        // gap: 1rem;
        flex-direction: column;
      }
  
      .form-select {
        width: 100%;
      }
  
      .dis-old-acc {
        display: inline-block;
  
        div {
          align-items: flex-start;
        }
      }
    }
  
    .loadInspection {
      .kw-hp-column {
        display: inline-block;
        div {
          margin-top: 0.5rem;
        }
      }
  
      .two-inp-fields {
        display: inline-block;
        div {
          margin-top: 0.5rem;
        }
      }
    }
  
    .mtr-proc-div {
      .inner-div {
        flex-direction: column;
      }
    }
  }
  
  // Form styles //
  
  .form-label {
    color: black;
    font-weight: 400;
    font-size: 0.9rem;
    width: 40%;
    line-height: 1.2;
  }

  // .bbmp-word-text-box {
  //   margin-bottom: 1rem !important;
  // }

  .margin-bottom {
    margin-bottom: -1rem !important;
  }
  
  .form-control {
    padding: 0.5rem;
    border: 2px solid #939393;
    //background-color: #f5f5f5;
    border-radius: 6px;
    // margin-bottom: 1rem;
    display: inline-block;
    width: 50%;
    line-height: 1;
  }
  .form-control-p {
    padding: 0.5rem;
    border: 2px solid #939393;
    background-color: #f5f5f5;
    border-radius: 6px;
    // margin-bottom: 1rem;
    display: inline-block;
    width: 50%;
    line-height: 1;
    margin-left: 12px;
  }
  
  input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 400;
    opacity: 0.8;
  }
  
  .radio-btns {
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
  
    label {
      font-family: "Inter";
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      color: #484848;
    }
  }
  
  .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
    border: 2px solid #939393;
    border-radius: 8px;
  
    &:focus {
      box-shadow: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    ::ng-deep .mat-horizontal-stepper-header-container {
      flex-direction: row !important;
      max-width: fit-content;
      overflow-x: scroll;
    }
  
    ::ng-deep .mat-horizontal-content-container {
      padding: unset !important;
    }
  
    ::ng-deep mat-form-field {
      width: 100% !important;
    }
  
    section {
      margin: unset;
    }
  
    .dis-fl {
      padding: 0rem 2rem;
      gap:1.5rem;
    }
  
    button {
      font-size: 18px;
    }
  
    .form-label {
      width: unset;
    }
  
    .form-control {
      display: block;
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 450px) {
    ::ng-deep .mat-horizontal-stepper-header-container {
      justify-content: flex-start !important;
    }
  
    .dis-fl {
      padding: 0rem 1rem;
    }
  
    label {
      font-size: 12px;
    }
  
    button {
      font-size: 12px;
    }
  
    .confirm-section {
      font-size: 12px;
      padding: 0;
  
      img {
        width: 100%;
      }
    }
  
    .app-form {
      gap: 3rem;
  
      .appForm-btn {
        height: 5rem;
        width: 5rem;
      }
  
      .appForm-btn-nxt {
        padding: 0.5rem 2rem;
      }
    }
  }
  
  ::ng-deep .mat-stepper-horizontal {
    display: flex !important;
    flex-direction: column;
  }
  
  ::ng-deep .mat-horizontal-stepper-header {
    padding: 0 0.5rem !important;
  }
  
  ::ng-deep .mat-horizontal-stepper-header-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset !important;
    background-color: white;
    height: fit-content;
    // gap: 0.8rem !important;
    padding-top: 1rem;
    position: sticky;
    top: 0;
}
  
  ::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: #757575;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  ::ng-deep .mat-step-label-selected {
    color: #4472c4 !important;
  }
  
  ::ng-deep .mat-stepper-horizontal-line {
    flex: unset !important;
  }
  
  ::ng-deep .mat-horizontal-content-container {
    width: 100% !important;
  }
  ::ng-deep .mat-step-header:hover {
    background-color: unset !important;
  }
  
  ::ng-deep .mat-stepper-horizontal-line {
    border: unset !important;
  }

  ::ng-deep .mat-step-header {
    overflow: visible !important;
  }
    
  ::ng-deep .mat-step-header .mat-step-icon {
    color: #757575;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #c0bcbc !important;
    border: 2px solid #c0bcbc;
    background-color: inherit;
  }
  
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #4472c4 !important;
    color: white;
    border: 2px solid #4472c4;
  }
  
  ::ng-deep .mat-form-field-infix {
    display: flex !important;
  }
  
  ::ng-deep mat-form-field {
    width: 50%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }
  
  .bold-header {
    font-weight: bold;
    font-size:15px;
  }
  .table-container {
    width: 100%;
    display: table;
    table-layout: fixed;
  }  
  .box-input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
  }
  
  .box-input input {
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  mat-error {
    display: none;
  }
  .disabled-input {
    background-color: #e9ecef;
    color: #6c757d; 
    cursor: not-allowed;
  }
