.breadcrumb-item:last-child {
  color: lightslategray; 
}
h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}
.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem !important;
  min-width: 3rem !important;
  font-size:medium;
  &:hover {
    background-color: #7f9cce;
  }
}


.grid-container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1; 
}

.right-column {
  flex: 1; 
}

.field {
  margin-bottom: 10px;
}


.field-label {
  width: 150px; 
  font-size: 600; 
  display: inline-block;
}

.field-value {
  margin-left: 10px; 
  display: inline-block;
}

.field-value-scroll {
  max-width: 400px; 
  overflow-x: auto; 
  white-space: nowrap;
  display: inline-block; 
}
.mat-header-cell{
  font-weight:bold;
  font-size:13px;
}