@import "../home/home.component.scss";

h2 {
  margin: 1.5rem 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3e3e3e;
}

.page__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // overflow: auto;

  .table {
    flex-wrap: wrap;
  }
}

body {
  margin-bottom: 100px;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  height: fit-content;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: transparent;
  color: #3e3e3e;
}

.table td {
  a {
    color: #4472c4;
    // text-decoration: none;
  }
}

.table tbody tr:nth-child(even) {
  background-color: #ececec;
}


body {

  background-color: #f5f9fc !important;
}

// Dashboard
.card {
  // position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eceef3;
  border-radius: .75rem;
}

.card-body {
  flex: 1 1 auto;
  padding: .9rem .9rem;
  color: #525f7f;
  //min-height: 143px !important;
}

.text-muted {
  --x-text-opacity: 1;
  color: rgba(var(--x-muted-rgb), var(--x-text-opacity)) !important;
  vertical-align: super;
}

.text-white {
  --x-text-opacity: 1;
  color: rgba(var(--x-white-rgb), var(--x-text-opacity)) !important;
}

.font-semibold {
  font-weight: 500 !important;
}

.text-sm {
  font-size: 0.9rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.bg-tertiary {
  --x-bg-opacity: 1;
  background-color: deepskyblue !important;
}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: .375rem;
  width: 3.5rem;
  height: 3.5rem;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.db_title {
  color: #4472c4;
}

.icon_color {
  color: #ffffff !important;
}

.icon_color1 {
  color: #bfbfbf !important;
  vertical-align: bottom;
}

.icon_color2 {
  color: #ffffff !important;
}


.font-control {
  min-height: 35px !important;
  text-transform: lowercase;
}

.font-control::first-letter {
  text-transform: uppercase !important;
}

hr {
  margin: 0.2rem 0 0rem 0 !important;
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  // margin-right: calc(-.5 * var(--bs-gutter-x));
  // margin-left: calc(-.5 * var(--bs-gutter-x));

  margin-right: 0px !important;
  margin-left: 0px !important;
  // min-height: 77px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mt-min-50{
margin-top: -50px;
}
// .option-main-bg-1 {
//   background-color: #f5dbb6 !important;
// }

// .option-main-bg-2 {
//   background-color: #f4bbdb !important;
// }

// .option-main-bg-3 {
//   background-color: #bbc1f3 !important;
// }

// .option-main-bg-4 {
//   background-color: #a8e6e5 !important;
// }

// .option-main-bg-5 {
//   background-color: #ddf7ff !important;
// }

// .option-main-bg-6 {
//   background-color: #cef8ce !important;
// }



.option-icon-bg-1 {
  background-color: #ffab2e !important;
}

.option-icon-bg-2 {
  background-color: #ff3ca5 !important;
}

.option-icon-bg-3 {
  background-color: #3f50f6 !important;
}

.option-icon-bg-4 {
  background-color: #c8dbdc !important;
}

.option-icon-bg-5 {
  background-color: #ffc6c6 !important;
}

.option-icon-bg-6 {
  background-color: #ffee0e !important;
}

.option-icon-bg-7 {
  background-color: #ffab2e !important;
}

.option-icon-bg-8 {
  background-color: #ff6767 !important;
}

.option-icon-bg-9 {
  background-color: #7aff87 !important;
}

.option-icon-bg-10 {
  background-color: #F9C22E !important;
}

.option-icon-bg-10 {
  background-color: #E6DBD0 !important;
}

.option-icon-bg-11 {
  background-color: #44E5E7 !important;
}

.option-icon-bg-12 {
  background-color: #80DED9 !important;
}


.self_task {
  color: green !important;
  text-decoration: none;
}

.lowlevel_task {
  color: #c78100 !important;
  text-decoration: none;
}
.self_task:hover, .lowlevel_task:hover{
cursor: pointer !important;
}


.db_title {
  color: #4472c4;
}

h5 {
  color: #ffffff;
  font-weight: 400;
  background: linear-gradient(58deg, #001a47, #4472c4);
  width: auto;
  font-size: 20px;
  line-height: 1;
  margin: 10px 10px 30px 0px;
  padding: 14px;
  border-left: 10px solid #4472c4;
  box-shadow: 4px 2px 15px 0px #c7c7c7;

}
h3 {
  color: #001a47;
  padding-bottom: 6px;
  font-family: inherit;
  font-size: 14pt;
  font-weight: 600;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 17px;
  margin: 10px 10px 30px 10px;
  border-bottom: 1px solid #d2d2d2;
  /* border-left: 5px solid #4472c4; */
  padding-left: 6px;
}
.db_img {
  width: 48px;
  height: 48px;
}
.db_imgh2 {
  width: 28px;
  height: 28px;
}
.min-margin0{
  margin-top: 15px;
}
.min-margin40{
  margin-top: -70px;
}
.min-margin80{
  margin-top: -40px;
}
.min-margin120{
  margin-top: -130px;
}
.bmr-process {
  height: 150px;
  // border: 1px solid #001a47;
}