<section>
  <form [formGroup]="deviationTypeForm">
  <h1 mat-dialog-title>Update Deviation Type Master</h1>
  <div class="content-fields mt-4" mat-dialog-content>
    <div class="modal-input-control">
      <mat-form-field class="example-full-width">
        <mat-label>Deviation Type</mat-label>
        <input matInput placeholder="Ex. Each" 
        formControlName="deviationType" appAlphaNumeric [maxLength]="50" required/>
        <mat-error>Please enter in this field.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-box mt-3" mat-dialog-actions>
    <button class="c-btn" mat-button (click)="onDeviationUpdate()">Update</button>
    <button class="btn clor" mat-button mat-dialog-close>Close</button>
  </div>
  </form>
</section>