/* You can add global styles to this file, and also import other style files */

@import "material-icons/iconfont/material-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~../node_modules/primeicons/primeicons.css";
@import "~primeng/resources/themes/rhea/theme.css";
@import "~primeng/resources/primeng.min.css";

.p-tree {
  padding: 0px !important;
}

.p-datatable .p-datatable-header {
  background: #4472c4;
  color: #ffffff;
  border: 1px solid #4472c4;
  border-width: 1px 1px 0 1px;
  padding: 4px 0px;
  font-weight: 700;
}

p-tree.p-element.w-6V12,
.p-component,
.p-treenode,
.p-tree-wrapper {
  box-sizing: border-box;
  border-radius: 0.375rem !important;
}

.p-treeselect {
  color: #000 !important;
  width: 100% !important;
}

// .p-tree_custom{
//   position: absolute;
//   background: white;
//   border: 1px solid #ccc;
//   padding: 0px !important;
//   width: 340px;
//   margin: 0px;
//   right: 80px;
//   box-sizing: border-box;
//   z-index: 11;
//   top: 3px;
//   border-radius: .375rem;
// }

.p-datatable table {
  font-size: 12px !important;
}

.p-datatable-thead th {
  background-color: #effbff !important;
  font-size: 15px !important;
  // font-weight: normal !important;
}

// .p-datatable .p-sortable-column .p-column-title, .p-datatable .p-sortable-column .p-sortable-column-icon, .p-datatable .p-sortable-column .p-sortable-column-badge, .p-column-filter-menu-button, .p-column-filter-clear-button{
//   font-size: 14px;
//   padding: 0px;
//   margin: 0px;
//   text-wrap: nowrap;
//   position: absolute;
//   right: 0px;
// }
.p-datatable .p-datatable-tbody>tr>td,
.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-paginator-bottom,
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-paginator .p-paginator-pages .p-paginator-page,
.p-dropdown-label {
  padding: 6px !important;
  font-size: 12px !important;
  // position: relative;
}

@media only screen and (max-width: 960px) {
  .p-datatable .p-datatable-tbody>tr {
    border-width: 3px;
    box-shadow: #000;
  }
}

// .p-datatable .p-sortable-column .p-column-title, .p-datatable .p-sortable-column .p-sortable-column-icon, .p-datatable .p-sortable-column .p-sortable-column-badge{
//   font-size: 14px;
//   padding: 0px;
//   margin: 0px;
//   text-wrap: nowrap;
//   position: absolute;
//   right: 0px;

// }


// .align-items-center{
//   display: block !important;
// }


.p_tree_cont {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.filter-btn {
  padding: 2px 8px;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.filter-btn:hover {
  background-color: #eeecec;
  outline: none;
  border: none;
}

.mr_6 {
  margin-right: 6px;
}

.pl30 {
  padding-left: 30px;
}

.bg_li_gr {
  color: lightslategray;
}

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* For Add/Update Components (Configuration Screens Only!) */
table td {
  font-weight: 400 !important;
  justify-content: right;
  border: #000;

  .p-column-title {
    font-weight: bold !important;
    width: fit-content;
    text-wrap: nowrap;
  }
}


.modal-input-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-input-control {
  .mat-form-field:nth-child(1) {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  .mat-form-field:nth-child(2) {
    width: calc(50% - 10px);
    margin-left: 10px;
  }
}

.mat-drawer.mat-drawer-side {
  background: #fafafa !important;
}


//Cross browser scroll
// html{
//   cursor: pointer;
// }
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #053281;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  cursor: pointer !important;
}

:root,
* {
  scrollbar-color: #053281 #f5f5f5 !important;
  scrollbar-width: thin !important;
}

/* Reduce the width of the scrollbar for specific <td> elements */
.horizontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 150px;
}

.horizontal-scroll::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #053281;
}

/* all add components */
.input-control,
.button-control {
  width: 50% !important;
}

.input-control {
  ::ng-deep .mat-form-field {
    width: 100% !important;
  }
}

.button-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: -1 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  margin-top: 30px !important;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: -15px;
  background-color: white;
  color: black;
}

.heading {
  width: 100% !important;
  padding: 2px 1rem;
}

/* /For Add/Update Components (Configuration Screens Only!) */

.title-2,
.mat-typography h2 {
  color: #001a47;
  padding-bottom: 6px;
  font-family: inherit;
  font-size: 14pt;
  font-weight: 600;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 17px;
  margin: 10px 14px 12px 0px;
  border-bottom: 1px solid #d2d2d2;
  padding-left: 0px;
}

.shadow2 {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.page__content {
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  background: #ffffff;
}

.form-select {
  font-size: 14px !important;
}

.top {
  background-color: white;
  height: 3.5rem;
}

.mat-list-base {
  padding-top: 0px !important;
}

.est-config-table td {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.est-config-table th {
  border: 1px solid #ccc;
  padding: 8px !important;
}

//estimate-forms

.mat-input-element,
.mat-option-text {
  font-size: 13px !important;
  white-space: normal;
  line-height: normal;
  // border-bottom: 1px solid #ddd;
}

.mat-option:nth-child(odd) {
  background: #ffffff;
}

.mat-option:nth-child(even) {
  background: #80808030;
}

//   .mat-form-field-appearance-legacy .mat-form-field-infix {
//     border: 2px solid #ccc;
//     border-radius: 6px;
// }

// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: #ffffff;
// }

h2.my-custom-class {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 -22px;
}

@media (max-width: 600px) {
  .my-scrollable-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.dis-fl2 {
  // display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1px !important;
  background: #ffffff;
  margin: 0.7rem 0.5rem !important;
  border-radius: 10px !important;
}

.background-w {
  background: #ffffff !important;
}

.p20 {
  padding: 20px !important;
}

// .page-1{
//   // background: #f1f5f9 !important;
// }
.page-2 {
  color: white;
  padding: 0 0.5rem;
  background: #f1f5f9;
}

.page-3 {
  // color: white;
  padding: 0 0rem;
  background: #f1f5f9;
  margin-top: 10px;
}

//Material Indent & store officer approval
th.sub-heading {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

th.main-heading {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

.office-m40 {
  margin-top: -75px;
}

.mat-drawer-content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.search-icon2 {
  position: relative;
  left: -7px;
  top: 16px;
  color: #4472c4;
}

div.radio-btns div label {
  width: fit-content;
}

.green-text {
  color: green;
}

// input spinner prevention
.no-spinner {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

//estimation approval sub heading class

.subheadcnt {
  background-color: #f0f0f0;
}

.logo {
  text-align: center;
  background-color: white !important;

  img {
    width: 200px;
  }
}

.py-3 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.p-btns {
  border-radius: 4px;
  outline: none;
  border: 1px solid #f8fff7;
  // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.c-btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  font-size: medium;

  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;
  min-height: 1.5rem !important;
  min-width: 3rem !important;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.btn-tapping {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  white-space: nowrap;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 6px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: #7f9cce;

  }
}

.l-padding0 {
  padding-left: 0px !important;
}

.table-padding-right {
  padding-right: 12px;
}

.star {
  color: red;
}

.error-border {
  border: 1px solid red;
}

.label {
  white-space: nowrap;
}

.icon_configuration {
  width: 18px;
  height: 18px;
  margin-right: 0.3rem;
  // box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
  filter: invert(98%) sepia(99%) saturate(2%) hue-rotate(109deg) brightness(106%) contrast(101%);
}

.arrow_icon_configuration {
  width: 10px;
  height: 10px;
  margin-top: 6px;
  margin-right: 0.3rem;
  vertical-align: middle;
  float: right;
  filter: invert(98%) sepia(99%) saturate(2%) hue-rotate(109deg) brightness(106%) contrast(101%);
}

.sub-menu-text {
  font-weight: normal;
}

.mat-divider {
  border-top-width: 0px !important;
  border-color: #9fb3d8 !important;
}

.col-animation {
  transition: all .5s ease-in-out;
}

.mat-list-base li {
  margin-left: 40px;
  list-style-type: circle;
}

.aside_menu_title {
  display: flex;
  padding: 0.4rem;
  cursor: pointer;
  color: #f5f5f5;
}

.office-hire-ind {
  position: relative;
  z-index: 9999;
}

.section-title:hover,
.aside_menu_title:hover {
  cursor: pointer;
  color: #dcdcdc !important;
}

ol.breadcrumb {
  padding-left: 20px !important;
}


/* side nav styling*/
ul {
  padding-left: 0rem !important;
}

.side-nav-child-list {
  margin-bottom: unset;
  color: white;
  background: #4472c4;
  padding-left: unset;
  font-size: 0.9rem;
  gap: 0.05rem;
  display: flex;
  flex-direction: column;
  list-style: none;

  li a {
    text-decoration: none;
    color: #abb9e8;
    font-size: 0.813rem;
    width: 100%;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 5px;
    display: flex;

    &:hover {
      color: #ffffff;
    }
  }



}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.square-dropdown {
  width: 100% !important;

  mat-form-field.mat-form-field-appearance-outline {
    .mat-form-field-outline {
      border: 2px solid black !important;
      border-radius: 0 !important;
    }
  }
}

i.bi.bi-eye {
  font-size: 22px;
  color: #053281;
  text-align: center;
  margin-left: 20px;
}

.icon-size {
  width: 15px;
  height: 15px;
}

.btn-minimize {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #4472c4;
  padding: 5px 10px;
  margin-left: -20px;
}

input::placeholder {
  color: #b5b3b3;
  opacity: 1;
}

.box-navigation {
  display: inline-flex;
  align-items: center;
  background-color: #f0f8ff;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 4px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 12px;
}

.box-navigation:hover {
  background-color: #e6f4ff;
  color: #1d78c1;
  border-color: #1d78c1;
}

.icon_configuration {
  width: 15px;
  height: 20px;
}

.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d6efd;
  background-color: #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  padding: 13px;
}