<div class="container-fluid page-3">
  <ul>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/configuration">Configuration</a>
        </li>
        <li class="breadcrumb-item">
          <a style="color: lightslategray">Material and Labour Mapping</a>
        </li>
      </ol>
    </nav>
  </ul>
   
    <div class="page__content p-3 p20 shadow dis-fl dis-fl2  position-relative dis-flex-colu">
      <h2 class="title-2">Material and Labour Mapping Master</h2>
   
   
    <div style="display: flex; flex-wrap: wrap; overflow: auto">
      <div class="top-row first-top-row">
        <div class="input-control">
          <mat-form-field appearance="fill">
            <mat-label>Material Type</mat-label>
            <mat-select (selectionChange)="onMaterialTypeChange($event.value)">
              <mat-option *ngFor="let main of materialData" [value]="main.materialTypeMasterId">
                {{ main.materialTypeName }}
              </mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Search By Material Name</mat-label>
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search by Material name" />
          </mat-form-field>
        </div>
        <div class="button-control">
          <button mat-button class="c-btn" (click)="openAddMaterialLabourMappingDialog()">
            Add Material and Labour Mapping
          </button>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="est-config-table mt-4">
        <!-- SL NO Column -->
        <ng-container matColumnDef="slno">
          <th mat-header-cell *matHeaderCellDef>SL NO</th>
          <td mat-cell *matCellDef="let element">
            {{ dataSource.data.indexOf(element) + 1 }}
          </td>
        </ng-container>
   
        <!-- Material Type Column -->
        <ng-container matColumnDef="materialTypeMasterId">
          <th mat-header-cell *matHeaderCellDef>Material Type</th>
          <td mat-cell *matCellDef="let element">{{ element.materialTypeName }}</td>
        </ng-container>
   
        <!-- Material Code Column -->
        <ng-container matColumnDef="materialCode">
          <th mat-header-cell *matHeaderCellDef>Material Code</th>
          <td mat-cell *matCellDef="let element">{{ element.materialCode }}</td>
        </ng-container>
   
        <!-- Material Name Column -->
        <ng-container matColumnDef="materialMasterId">
          <th mat-header-cell *matHeaderCellDef>Material Name</th>
          <td mat-cell *matCellDef="let element">{{ element.materialName }}</td>
        </ng-container>
   
        <!-- Labour Code Column -->
        <ng-container matColumnDef="labourCode">
          <th mat-header-cell *matHeaderCellDef>Labour Code</th>
          <td mat-cell *matCellDef="let element">{{ element.labourCode }}</td>
        </ng-container>
   
        <!-- Labour Name Column -->
        <ng-container matColumnDef="labourMasterId">
          <th mat-header-cell *matHeaderCellDef>Labour Name</th>
          <td mat-cell *matCellDef="let element">{{ element.labourName }}</td>
        </ng-container>

          <!-- Labour By Default Column -->
        <ng-container matColumnDef="labourByDefault">
          <th mat-header-cell *matHeaderCellDef>Labour By Default</th>
          <td mat-cell *matCellDef="let element">
            {{ element.labourByDefault === '1' ? 'Yes' : 'No' }}
          </td>
        </ng-container>
   
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button style="border: none; background-color: transparent"
              (click)="openUpdateMaterialLabourMappingDialog(element.materialsLabourMappingId,element)">
              <mat-icon color="error">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
   