h1 {
  color: #484848;
  font-weight: 600;
  margin: unset !important;
}

section {
  margin: 0.5rem;
}

th {
  font-size: 1rem;
  font-weight: 600;
  background-color: #f0f6ff;
}

td {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #757575;
  max-width: 200px;
  white-space: nowrap;
  overflow: auto;

  input {
    min-width: 1rem !important;
  }

  select {
    min-width: max-content !important;
  }
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.form-select {
  cursor: pointer;
}

.btn-upload {
  width: 50%;
  border: 2px dashed #c2c2c2 !important;
  color: #484848;
  background-color: white;
  padding: 0.5rem;

  &:hover {
    color: white;
    border: 2px solid #c2c2c2 !important;
    transition: 1s;
  }
}

.txt-area {
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;

  textarea {
    padding: 0.5rem;
    border: 1px solid #939393;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 80%;
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: #4472c4;
  color: white;
  min-height: 1.5rem;
  min-width: 3rem;

  &:hover {
    background-color: #7f9cce;
  }
}

.clor {
  background-color: white;
  color: #4472c4;
  border: 2px solid #4472c4;

  &:hover {
    background-color: #d8d7d7;
    color: #4472c4;
  }
}

.download-link {
  color: #028f3a;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  padding-left: 10rem;
}

.download-p {
  color: #028f3a;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: -0.8rem;
}

.store-head {
  margin-top: 1rem;
  padding: 0.5rem;
}

.heading {
  background-color: #f0f0f0;
}

.label-container {
  width: 170px;
  padding: 5px;
}

.input-container {
  width: 82%;

  input {
    width: 100%;
  }
}

.one-row-grid {
  grid-template-columns: 0.3fr 1fr;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  column-gap: 1rem;
}

.three-row-grid {
  grid-template-columns: repeat(3, 1fr);
}

.left-column {
  gap: 1rem;

  .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    margin-bottom: 1rem;
    margin-top: -20px;
  }

  label {
    margin: unset;
    font-size: 0.9rem;
    margin-top: -1rem;
  }
}

.right-column {
  margin-right: 1rem;
  margin-left: -150px;

  .inner-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.2fr 3fr;
    align-items: baseline;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-left: -30px;
    margin-right: 20px;

    label {
      margin: unset;
      font-size: 1rem;
    }
  }
}

.grid {
  display: grid;
  column-gap: 4rem;

  .inner-div {
    display: grid;
    gap: -3cm;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-bottom: 0.5rem;

    label {
      font-size: 0.9rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      color: #6e6d6d;
      font-weight: 500;
      margin-left: -2.6rem;
    }
  }

  .innerStore-div {
    display: grid;
    gap: 0.7cm;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    margin-bottom: 0.5rem;
    margin-left: -0.7rem;

    label {
      font-size: 0.9rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      color: #6e6d6d;
      font-weight: 500;
    }
  }
}

.form-control-p {
  padding: 0.3rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 0.8rem;
  height: 1.8rem;
  width: 50px;
}

.material-input {
  width: 300px;
}

::ng-deep .mat-option-text,
::ng-deep .mat-select-value {
  text-overflow: unset !important;
  overflow: auto !important;
}

.select-box {
  min-width: 12rem !important;
  margin-left: 1rem;
  padding: 0.3rem;
  border: 1px solid #939393;
  background-color: #f5f5f5;
}

.addBtn {
  margin-left: 54rem;
  margin-top: -22px;
}

mat-error {
  margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
  section {
    margin: 1rem;
  }

  .two-row-grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
    }
  }

  .grid {
    grid-template-columns: 1fr;

    .inner-div {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      label,
      input,
      p,
      select {
        font-size: 0.8rem;
      }
    }
  }

  .txt-area {
    flex-direction: column;

    textarea {
      width: 100% !important;
    }
  }
}
.form-control-p {
  padding: 0.3rem; 
  border: 1px solid #939393;
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 0.8rem; 
  width: 100% !important; 
  margin-left: 6px;
}
.custom-textarea {
  height: 80px; 
}
.small-input {
  width: 230px!important; 
  display: flex;
}

.small-input input {
  height: 30px;
  font-size: 0.875rem; 
  padding: 5px; 
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.short-dropdown .mat-form-field-wrapper {
  height:15px;
}

.short-dropdown .mat-form-field {
  height: 15px; 
}

.short-dropdown .mat-select {
  height:15px; 
  line-height:15px;
}

.square-dropdown .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 0; 
}
.narrow-dropdown {
  width: 160px; 
}
.square-dropdown .mat-form-field-appearance-outline .mat-form-field-outline {
  border: 1px solid #ccc; 
}
