<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-openintent" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OpenIntent</name>
    <js-module name="OpenIntent" src="www/OpenIntent.js">
        <clobbers target="cordova.plugins.OpenIntent" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OpenIntent">
                <param name="android-package" value="com.infinite.kdiscoms.OpenIntent" />
            </feature>
        </config-file>
        <source-file src="src/android/OpenIntent.java"
            target-dir="src/com/infinite/kdiscoms" />
    </platform>
</plugin>