
.btn-box {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
  }
  
  .btn {
    padding: 0.4rem 1rem;
    background-color: #4472c4;
    color: white;
    min-height: 1.5rem !important;
    min-width: 3rem !important;
    font-size:medium;
    &:hover {
      background-color: #7f9cce;
    }
  }
  .delete-button {
    color: red;
  }
  .btn-box.center-btn {
    display: flex;
    justify-content: center;
  }
  