<div class="page-1">
  <section>
    <ul>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/main">Dashboard</a></li>
          <li class="breadcrumb-item">
            <a routerLink (click)="navigate('WORK ORDER CREATION', '8')"
              >Work Order Creation</a
            >
          </li>
          <li class="breadcrumb-item">
            <a style="color: lightslategray">Create Work Order Creation</a>
          </li>
        </ol>
      </nav>
    </ul>
  </section>
  <section>
    <form class="form" [formGroup]="workOrderFormGroup">
      <div class="page__content p-3 p20 shadow dis-fl dis-fl2 position-relative dis-flex-colu">
        <h2 class="title-2">Work Order Form</h2>
  
        <div class="two-row-grid mt-4">
          <div class="left-div">
            <div class="inner-div">
              <label>Estimation No*</label>
  
              <span>{{ data.estimationRegistered?.estimationNo }}</span>
            </div>
            <div class="inner-div">
              <label>Work Type</label>
              <span>{{ data?.estimationRegistered?.applicationTypeName }}</span>
            </div>
  
            <div class="inner-div" *ngIf="isEmergencyWork">
              <label>Manual/Tentative Work Order</label>
              <input
                class="form-control"
                type="text"
                formControlName="manualWorkOrder"
              />
            </div>
  
            <div class="inner-div">
              <label>Work Award Required</label>
              <select
                class="form-control form-select"
                formControlName="workAwardRequired"
              >
                <option disabled>-- select --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="inner-div">
              <label>Permit Required <span class="star">*</span></label>
              <div>
              <select
                class="form-control form-select"
                formControlName="permitRequired"
                (change)="onChangePermitRequired($event.target.value)"
              >
                <option disabled>-- select --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
              <mat-error *ngIf="workOrderFormGroup.get('permitRequired').hasError('required')">
                Please select this field.
              </mat-error>
            </div>
            </div>
            <div *ngIf="data.estimationRegistered?.applicationTypeCode !== 'PD'"  class="inner-div">
            <label>Account Head No & Description</label>
            <select #accountHeadSelected 
                    class="form-select" 
                    name="budget" 
                    style="width: 100%" 
                    (change)="getDivisionalBudgetData($event.target.value)" 
                    formControlName="budgetControl">
              <option *ngFor="let data of budgetData" [value]="data.accountHeadMasterId">
                {{ data?.accountHeadCode }}&nbsp;({{
                  data?.accountHeadDescription
                }})
              </option>
            </select>
          </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution' && data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
                  && data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label>Division Budget Head</label>
  
              <span>{{ budget?.divisionalBudgetHead }}</span>
            </div>
          </div>
          <div>
            <div class="inner-div">
              <label>Execution Method</label>
  
              <span>{{ data?.estimationRegistered?.woExecutionMethodName }}</span>
            </div>
            <div class="inner-div">
              <label>Dop Category</label>
              <span>{{ data?.estimationRegistered?.workCategory }}</span>
            </div>
  
            <div class="inner-div" *ngIf="isEmergencyWork">
              <label>Manual/Tentative Work Order Date</label>
              <input
                class="form-control"
                type="date"
                formControlName="manualWorkDate"
              />
            </div>
  
            <div class="inner-div">
              <label>Shut Down Required <span class="star">*</span></label>
              <div>
              <select
                class="form-control form-select"
                formControlName="shutdownRequired"
              >
                <option disabled>-- select --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
              <mat-error *ngIf="workOrderFormGroup.get('shutdownRequired').hasError('required')">
                Please select this field.
              </mat-error>
            </div>
            </div>
            <div class="inner-div">
              <label>Permit Required Form <span class="star">*</span></label>
              <div>
              <input
                class="form-control"
                type="text"
                formControlName="permitRequiredForm"
                appAlphaNumeric
                [maxLength]="100"
              />
              <mat-error *ngIf="workOrderFormGroup.get('permitRequiredForm').hasError('required')">
                Please fill in this field.
              </mat-error>
            </div>
            </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution' &&data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
                &&  data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label> Budget Allocated Amount (A)</label>
  
              <span>{{ budget?.totalBudgetAmount | number : "1.2-2" }}</span>
            </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution' && data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
              && data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label>Already Issued Work Order Amount (B)</label>
  
              <span>{{ budget?.workOrderIssueAmount | number : "1.2-2" }}</span>
            </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution'&& data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
              && data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label>Budget Balance (C) = (A - B)</label>
  
              <span>{{ budget?.balanceBudget | number : "1.2-2" }}</span>
            </div>
            <div *ngIf="data.estimationRegistered?.applicationTypeCode !== 'PD'" class="inner-div">
              <label>Current Estimate Cost (D)</label>
  
              <span>{{ data?.estimationRegistered?.estimationTotalCost }}</span>
            </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution' && data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
               && data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label>Balance budget after approval (E) = (C - D)</label>
  
              <span>{{ budget?.balanceAfterApproval | number : "1.2-2" }}</span>
            </div>
            <div
              class="inner-div"
              *ngIf="data.estimationRegistered?.woExecutionMethodName != 'Self Execution' && data.estimationRegistered?.workCategory != 'Repairs & Maintenance Works'
              && data.estimationRegistered?.applicationTypeCode !== 'PD'">
              <label>Expense incurred (F)</label>
  
              <span>
                <!-- <span>{{
                  data?.wmWorkorderRegistered?.expenseIncuredCost
                }}</span> -->
  
                <span>{{
                  budget?.totalExpenditureAmount === "null"
                    ? 0
                    : budget?.totalExpenditureAmount
                }}</span>
              </span>
            </div>
          </div>
        </div>
      
  
      <div class="container mb-4">      
        <div class="row mb-4">
          <div class="col-lg-3">
            <label>Work Description</label>
          </div>
          <div class="col-lg-9 mr-4">
            {{ data?.estimationRegistered?.estimationWorkDesc }}
          </div>
        </div>
      </div>
  
      <div
        
        *ngIf="regularArray.length"
      >
        <h2>Regular</h2>
        <div class="heading mt-2" *ngFor="let e of regularArray">
          <div>
            <h3>
              {{ e.estimate.workType }}- {{ e.estimate.workPart }}-
              {{ e.estimate.workscopeDescription }}
            </h3>
          </div>
  
          <div style="display: flex; flex-wrap: wrap; overflow: auto">
            <table
              class="table text-center"
              style="margin-top: 1rem; width: 100%; flex-wrap: wrap"
            >
              <thead>
                <tr>
                  <th scope="col">Rate Type</th>
                  <th scope="col">Description of Material</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Materials Amount</th>
                  <th scope="col">Labour Rate</th>
                  <th scope="col">Labour Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of e.data">
                  <td>{{ item.rateType }}</td>
                  <td style="text-align: left">
                    {{ item.materialCode }} - {{ item.materialName }}
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.materialUnit }}</td>
                  <td>{{ item.materialRate }}</td>
                  <td>{{ item.materailAmount =='null'?0 :item.materailAmount}}</td>
                  <td>{{ item.labourRate }}</td>
                  <td>{{ item.labourAmount }}</td>
                </tr>
              </tbody>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ e.estimate.materialCost }}</td>
                <td></td>
                <td>{{ e.estimate.labourCost }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div
        *ngIf="creditArray.length"
    
      >
        <h2>Credit</h2>
        <div class="heading mt-2" *ngFor="let e of creditArray; index as i">
          <div class="row">
            <div class="col mb-2">
              <h1>
                {{ e.estimate.workType }}- {{ e.estimate.workPart }}-
                {{ e.estimate.workscopeDescription }}
              </h1>
            </div>
            <div>
              <h1>
                Account Head Code & Description:
                {{ e.estimate.accountMainHeadCode }} -
                {{ e.estimate.accountMainHeadDescription }}
              </h1>
            </div>
            <div class="col" ></div>
          </div>
  
          <div style="display: flex; flex-wrap: wrap; overflow: auto">
            <table
              class="table text-center"
              style="margin-top: 1rem; width: 100%; flex-wrap: wrap"
            >
              <thead>
                <tr>
                  <th scope="col">Rate Type</th>
                  <th scope="col">Description of Material</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Materials Amount</th>
                  <th scope="col">Labour Rate</th>
                  <th scope="col">Labour Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of e.data">
                  <td>{{ item.rateType }}</td>
                  <td style="text-align: left">
                    {{ item.materialCode }} - {{ item.materialName }}
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.materialUnit }}</td>
                  <td>{{ item.materialRate }}</td>
                  <td>{{ item.materailAmount =='null'?0:item.materailAmount }}</td>
                  <td>{{ item.labourRate }}</td>
                  <td>{{ item.labourAmount }}</td>
                </tr>
              </tbody>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ e.estimate.materialCost }}</td>
                <td></td>
                <td>{{ e.estimate.labourCost }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  
      <!-- Typical Cost Data Sheet -->
  
      <div class="page__content p20 dis-fl dis-fl2 position-relative dis-flex-colu">
        <h2 class="title-2">Typical Cost Data Sheet</h2>
  
        <div
          class="two-row-grid"
          style="
            grid-template-columns: 1fr;
            justify-items: flex-end;
            padding: 1rem;
          "
        >
          <div class="data-sheet">
            <div class="inner-div-t" *ngIf="data.estimationRegistered?.woExecutionMethodCode==='PT'">
              <label>Escom Material Cost (a)</label>
              <p >
                {{ data.estimationRegistered?.escomMaterialCost }}
              </p>
            </div>
            <div class="inner-div-t" *ngIf="data.estimationRegistered?.woExecutionMethodCode==='PT'">
              <label>Agency Material Cost (b)</label>
              <p >
                {{ data.estimationRegistered?.agencyMaterialCost }}
              </p>
            </div>
            <div class="inner-div-t">
              <label>{{data.estimationRegistered?.woExecutionMethodCode==='PT'?'Total Material cost (A)=(a+b)':'Material Cost (A)'}}</label>
              <p >
                {{ data.estimationRegistered?.estimationMaterialCost }}
              </p>
            </div>
            <div class="inner-div-t">
              <label >Labour Cost (B)</label>
              <p >
                {{ data.estimationRegistered?.estimationLabourCost }}
              </p>
            </div>
            <div class="inner-div-t">
              <label>Basic Rate (C)=(A+B) </label>
              <p >
                {{ basicRate }}
              </p>
            </div>
            <div *ngIf="addChargesBeforeTotalLabour && addChargesBeforeTotalLabour.length > 0; else defaultCharges">
              <div class="inner-div-t" *ngFor="let item of addChargesBeforeTotalLabour">
                <label>
                  <ng-container *ngIf="item.chargeType == 'PERCENTAGE'">
                    {{ item.chargeTypeValue }}% {{ item.additionalChargeName }}
                  </ng-container>
                  <ng-container *ngIf="item.chargeType == 'FLAT'">
                    {{ item.additionalChargeName }}
                  </ng-container>
                  <span *ngIf="item.additionalChargeName === 'Area Specific Loading on Basic Rates'">(D)</span>
                  <span *ngIf="item.additionalChargeName === 'GST'">(E)</span>
                </label>
                <p>{{ item.amount }}</p>
              </div>
            </div>
            <ng-template #defaultCharges>
              <div class="inner-div-t">
                <label>Area Specific Loading on Basic Rates <span>(D)</span></label>
                <p>0</p>
              </div>
              <div class="inner-div-t">
                <label>GST <span>(E)</span></label>
                <p>0</p>
              </div>
            </ng-template>          
            <div class="inner-div-t">
              <label>Cost Of Estimate (F) = (C + D + E)</label>
              <p>
                {{ data.estimationRegistered?.totalLabourCharges==='null'?0:data.estimationRegistered?.totalLabourCharges}}
              </p>
            </div>
            <div
              class="inner-div-t"
              *ngFor="let item of addChargesAfterTotalLabour"
            >
              <label *ngIf="item.chargeType == 'PERCENTAGE'"
                >{{ item.chargeTypeValue }}%
                {{ item.additionalChargeName }}</label
              >
              <label *ngIf="item.chargeType == 'FLAT'">{{
                item.additionalChargeName
              }}</label>
              <p>{{ item.amount }}</p>
            </div>
            <div class="inner-div-t">
              <label><strong>Total Cost Of Estimate (F + Sum of all charges below F)</strong></label>
              <p>
               <strong>{{ data?.estimationRegistered?.estimationTotalCost }}</strong>
              </p>
            </div>
            <div class="inner-div-t">
              <label>(Amount in Words)</label>
              <p>{{ data?.estimationRegistered?.estimationTotalCost |numberToWords}}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- ------------------ -->
  
      <div
        class="col-lg-6"
        style="
          width: 100% !important;
          padding: 1rem;
          display: flex;
          flex-direction: column;
        "
      >
        <div class="two-row-grid" style="justify-content: space-evenly">
          <div class="left-div" style="width: unset !important">
            <div class="inner-div">
              <label>Priority</label>
              <select class="form-control form-select" formControlName="priority">
                <option>-- select --</option>
                <option value="high">High</option>
                <option value="meduim">Meduim</option>
                <option value="low" selected>Low</option>
              </select>
            </div>
            <div class="inner-div">
              <label>Work order validity(days) <span class="star">*</span></label>
              <div>
              <input
                (input)="addDays()"
                class="form-control"
                type="text"
                formControlName="adddays"
                appNumbers
                [maxLength]="3"
              />
              <mat-error *ngIf="workOrderFormGroup.get('adddays').hasError('required')">
                Please fill in this field.
              </mat-error>
              <mat-error *ngIf="workOrderFormGroup.get('adddays').hasError('max')">
                Maximum allowed days is 360.
              </mat-error>
              <mat-error *ngIf="workOrderFormGroup.get('adddays').hasError('min')">
                Minimum allowed days is 1.
              </mat-error>
            </div>
            </div>
  
          </div>
          <div>
            <div class="inner-div">
              <label>Raised By</label>
  
              <span>{{ raisedBy }}</span>
            </div>
          </div>
        </div>
      </div>
  
      <!-- button box -->
  
      <div class="btn-box mt-4 pb-4">
        <button type="button" class="btn clor btn-primary btn-sm">Back</button>
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          (click)="openConfirmationpopupDialog()"
        >
          Create
        </button>
      </div>
      </div>
    </form>
  </section>
  </div>
  